<!DOCTYPE html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>Mon compte Facilys</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="csrf-token" content="<%=csrfToken%>" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <!-- Template CSS -->
        <link rel="stylesheet" href="/css/maind134.css?v=3.4" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />
    </head>

    <body>
        <header class="header-area header-style-1 header-height-2 bg-white">
            <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
                <div class="container">
                    <div class="header-wrap d-flex justify-content-around">
                        <div class="logo">
                            <a href="/"><img src="/favicon.png" alt="logo" style="width: 64px;" /></a>
                        </div>
                        <div>
                            <div class="header-action-right">
                                <div class="header-action-2">
                                    <div class="header-action-icon-2">
                                        <%- include('partials/header-login') %>
                                    </div>
                                    <div class="header-action-icon-2">
                                        <a class="mini-cart-icon" href="/shopping-cart">
                                            <i class="iconoir-cart"></i>
                                            <span class="pro-count blue">2</span>
                                        </a>
                                        <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                            <!--  <ul>
                                            <li>
                                                <div class="shopping-cart-img">
                                                    <a href="shop-product-right.html"><img alt="Evara" src="/imgs/shop/thumbnail-3.jpg"></a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a href="shop-product-right.html">Daisy Casual Bag</a></h4>
                                                    <h4><span>1 × </span>$800.00</h4>
                                                </div>
                                                <div class="shopping-cart-delete">
                                                    <a href="#"><i class="fi-rs-cross-small"></i></a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="shopping-cart-img">
                                                    <a href="shop-product-right.html"><img alt="Evara" src="/imgs/shop/thumbnail-2.jpg"></a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a href="shop-product-right.html">Corduroy Shirts</a></h4>
                                                    <h4><span>1 × </span>$3200.00</h4>
                                                </div>
                                                <div class="shopping-cart-delete">
                                                    <a href="#"><i class="fi-rs-cross-small"></i></a>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="shopping-cart-footer">
                                            <div class="shopping-cart-total">
                                                <h4>Total <span>$4000.00</span></h4>
                                            </div>
                                            <div class="shopping-cart-button">
                                                <a href="shop-cart.html" class="outline">View cart</a>
                                                <a href="shop-checkout.html">Checkout</a>
                                            </div>
                                        </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom header-bottom-bg-color sticky-bar">
                <div class="container">
                    <div class="justify-content-center header-wrap header-space-between position-relative">
                        <div class="logo logo-width-1 d-block d-lg-none">
                            <a href="/"><img src="favicon.png" alt="logo" style="width: 64px;" /></a>
                        </div>
                        <div class="header-nav d-none d-lg-flex">
                            <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                                <nav>
                                    <ul>
                                        <li><a href="/">Boutique</a></li>
                                        <li>
                                            <a href="/about">À propos de nous</a>
                                        </li>
                                        <li>
                                            <a href="/contact">Contact</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="header-action-right d-block d-lg-none">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/login">
                                        <i class="iconoir-user text-7"></i>
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/shopping-cart">
                                        <i class="iconoir-cart text-7"></i>
                                        <span class="pro-count blue">2</span>
                                    </a>
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                        <ul>
                                            <li>
                                                <div class="shopping-cart-img">
                                                    <a href="shop-product-right.html"><img alt="Evara" src="/imgs/shop/thumbnail-3.jpg" /></a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a href="shop-product-right.html">Plain Striola Shirts</a></h4>
                                                    <h3><span>1 × </span>$800.00</h3>
                                                </div>
                                                <div class="shopping-cart-delete">
                                                    <a href="#"><i class="fi-rs-cross-small"></i></a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="shopping-cart-img">
                                                    <a href="shop-product-right.html"><img alt="Evara" src="/imgs/shop/thumbnail-4.jpg" /></a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a href="shop-product-right.html">Macbook Pro 2022</a></h4>
                                                    <h3><span>1 × </span>$3500.00</h3>
                                                </div>
                                                <div class="shopping-cart-delete">
                                                    <a href="#"><i class="fi-rs-cross-small"></i></a>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="shopping-cart-footer">
                                            <div class="shopping-cart-total">
                                                <h4>Total <span>$383.00</span></h4>
                                            </div>
                                            <div class="shopping-cart-button">
                                                <a href="shop-cart.html">View cart</a>
                                                <a href="shop-checkout.html">Checkout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="header-action-icon-2 d-block d-lg-none">
                                    <div class="burger-icon burger-icon-white">
                                        <span class="burger-icon-top"></span>
                                        <span class="burger-icon-mid"></span>
                                        <span class="burger-icon-bottom"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <%- include('partials/nav-mobile') %>

        <main class="main">
            <div class="page-header breadcrumb-wrap">
                <div class="container">
                    <div class="breadcrumb">
                        <a href="/" rel="nofollow">Boutique</a>
                        <span></span> Pages <span></span> Mon compte
                    </div>
                </div>
            </div>
            <section class="pt-150 pb-150">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 m-auto">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="dashboard-menu bg-white">
                                        <ul class="nav flex-column" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false">
                                                    <i class="fi-rs-settings-sliders mr-10"></i>Dashboard
                                                </a>
                                            </li>
                                            <% if (user.manager==true) { %>
                                            <li class="nav-item">
                                                <a class="nav-link" id="product-tab" data-bs-toggle="tab" href="#product" role="tab" aria-controls="product" aria-selected="false"><i class="fi-rs-box mr-10"></i>Produits</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="client-tab" data-bs-toggle="tab" href="#client" role="tab" aria-controls="client" aria-selected="false"><i class="fi-rs-users mr-10"></i>Clients</a>
                                            </li>
                                            <% } %>
                                            <li class="nav-item">
                                                <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Mes commandes</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false">
                                                    <i class="fi-rs-shopping-cart-check mr-10"></i>Facture et abonnements
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="team-tab" data-bs-toggle="tab" href="#team" role="tab" aria-controls="team" aria-selected="true"><i class="fi-rs-user mr-10"></i>Mon équipes</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true">
                                                    <i class="fi-rs-marker mr-10"></i>Mes informations
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-danger" href="/logout"><i class="fi-rs-sign-out mr-10 text-danger"></i>Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="tab-content dashboard-content">
                                        <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                            <div class="card">
                                                <div class="card-header bg-white">
                                                    <h5 class="mb-0">Bienvenu <%=user.firstName%></h5>
                                                </div>
                                                <div class="card-body">
                                                    <p>
                                                        Depuis le Dashboard de votre compte, vous pouvez facilement vérifier, consulter et télécharger <a href="#">vos logiciels</a> , gérer <a href="#">vos équipes</a>,
                                                        <a href="#">la facturation et les abonnements</a>, ainsi que modifier <a href="#">votre mot de passe</a> et les <a href="#"> détails de votre compte</a>.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <% if (user.manager==true) { %>
                                        <div class="tab-pane fade" id="product" role="tabpanel" aria-labelledby="product-tab">
                                            <div class="card">
                                                <div class="card-header d-flex justify-content-between bg-white">
                                                    <h5 class="mb-0">Mes produits</h5>
                                                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#AddProdcutModal">Ajouter</button>
                                                </div>
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Logiciel</th>
                                                                    <th>Date d'ajout</th>
                                                                    <th>Prix de vente</th>
                                                                    <th>prix</th>
                                                                    <th>Type</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% if (Products && Products.length > 0) { %>
                                                                    <% Products.forEach(function(product) { %>
                                                                    <tr>
                                                                        <td><%= product.subtitle %></td>
                                                                        <td><%= product.dateAdded %></td>
                                                                        <td><%= product.price %> €</td>
                                                                        <td><%= product.oldPrice %> €</td>
                                                                        <td><%= product.type %></td>
                                                                        <td class="text-center">
                                                                            <a data-bs-toggle="modal" data-bs-target="#DeleteProdcutModal"  OpenModelDelete data-id="<%= product.id %>" class="text-danger"><i class="fi-rs-trash"></i></a>
                                                                            <a data-bs-toggle="modal" data-bs-target="#EditProdcutModal" OpenModelEdit data-id="<%= product.id %>" class="text-warning ml-2"><i class="fi-rs-edit"></i></a>
                                                                        </td>
                                                                    </tr>
                                                                    <% }); %>
                                                                <% } else { %>
                                                                    <tr>
                                                                        <td colspan="6">Aucun produit trouvé</td>
                                                                    </tr>
                                                                <% } %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal Add -->
                                            <div class="modal fade" id="AddProdcutModal" tabindex="-1" aria-labelledby="AddProdcutModal" aria-hidden="true">
                                                <div class="modal-dialog">
                                                   <div class="modal-content">
                                                      <div class="modal-header">
                                                         <h5 class="modal-title" id="exampleModalLabel">Ajouter un produit</h5>
                                                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                      </div>
                                                      <div class="modal-body">
                                                         <form method="POST" enctype="multipart/form-data" id="formAddProdcut">
                                                            <div class="row">
                                                               <div class="form-group col-md-12">
                                                                  <label>Titre <span class="required text-danger">*</span></label>
                                                                  <input required class="form-control square" name="title" id="title" type="text">
                                                               </div>
                                                               <div class="form-group col-md-12">
                                                                  <label>Sous-titre <span class="required text-danger">*</span></label>
                                                                  <input required class="form-control square" name="subtitle" id="subtitle" type="text">
                                                               </div>
                                                               <div class="form-group col-md-12">
                                                                  <label>Image</span></label>
                                                                  <input class="form-control square" name="pictureProduct" id="pictureProduct" type="file">
                                                               </div>
                                                               <div class="form-group col-md-6">
                                                                  <label>Prix officiel <span class="required text-danger">*</span></label>
                                                                  <input required class="form-control square" name="price" id="price" type="number">
                                                               </div>
                                                               <div class="form-group col-md-6">
                                                                  <label>Prix de réduction</label>
                                                                  <input class="form-control square" name="oldPrice" id="oldPrice" type="number">
                                                               </div>
                                                               <div class="form-group col-md-6">
                                                                  <label>Avis</label>
                                                                  <input  class="form-control square" name="advice" id="advice" type="text">
                                                               </div>
                                                               <div class="form-group col-md-6">
                                                                  <label>Type <span class="required text-danger">*</span></label>
                                                                  <select class="form-select" aria-label="Default select example" id="type" name="type">
                                                                     <option value="Monthly">Mensuel</option>
                                                                     <option value="annually">Annuel</option>
                                                                     <option value="Unlimited">Illimité</option>
                                                                     <option value="Free">Gratuit</option>
                                                                     <option value="FreeLimited">Gratuit Limité</option>
                                                                  </select>
                                                               </div>
                                                               <div class="form-group col-md-12">
                                                                  <label>Couleur badge <span class="required text-danger">*</span></label>
                                                                  <input required class="form-control square" name="colorBagde" id="colorBagde" type="color">
                                                               </div>
                                                               <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>" />
                                                               <div class="col-md-12">
                                                                  <button type="submit" class="btn btn-primary" name="submit" value="Submit">Valider</button>
                                                               </div>
                                                            </div>
                                                         </form>
                                                      </div>
                                                      <div class="modal-footer">
                                                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <!-- Modal Update -->
                                             <div class="modal fade" id="EditProdcutModal" tabindex="-1" aria-labelledby="EditProdcutModal" aria-hidden="true">
                                                <div class="modal-dialog">
                                                   <div class="modal-content">
                                                      <div class="modal-header">
                                                         <h5 class="modal-title" id="EditProdcutModal">Modifier un produit</h5>
                                                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                      </div>
                                                      <div class="modal-body">
                                                         <form method="POST" enctype="multipart/form-data" id="formEditProdcut">
                                                            <div class="row">
                                                               <div class="form-group col-md-12">
                                                                  <label>Titre <span class="required text-danger">*</span></label>
                                                                  <input required class="form-control square" name="titleEdit" id="titleEdit" type="text">
                                                               </div>
                                                               <div class="form-group col-md-12">
                                                                  <label>Sous-titre <span class="required text-danger">*</span></label>
                                                                  <input required class="form-control square" name="subtitleEdit" id="subtitleEdit" type="text">
                                                               </div>
                                                               <div class="form-group col-md-12">
                                                                  <label>Image</span></label>
                                                                  <input class="form-control square" name="pictureProductEdit" id="pictureProductEdit" type="file">
                                                               </div>
                                                               <div class="form-group col-md-6">
                                                                  <label>Prix officiel <span class="required text-danger">*</span></label>
                                                                  <input required class="form-control square" name="priceEdit" id="priceEdit" type="number">
                                                               </div>
                                                               <div class="form-group col-md-6">
                                                                  <label>Prix de réduction</label>
                                                                  <input class="form-control square" name="oldPriceEdit" id="oldPriceEdit" type="number">
                                                               </div>
                                                               <div class="form-group col-md-6">
                                                                  <label>Avis</label>
                                                                  <input  class="form-control square" name="adviceEdit" id="adviceEdit" type="text">
                                                               </div>
                                                               <div class="form-group col-md-6">
                                                                  <label>Type <span class="required text-danger">*</span></label>
                                                                  <select class="form-select" aria-label="Default select example" id="typeEdit" name="typeEdit">
                                                                     <option value="Monthly">Mensuel</option>
                                                                     <option value="annually">Annuel</option>
                                                                     <option value="Unlimited">Illimité</option>
                                                                     <option value="Free">Gratuit</option>
                                                                     <option value="FreeLimited">Gratuit Limité</option>
                                                                  </select>
                                                               </div>
                                                               <div class="form-group col-md-12">
                                                                  <label>Couleur badge <span class="required text-danger">*</span></label>
                                                                  <input required class="form-control square" name="colorBagdeEdit" id="colorBagdeEdit" type="color">
                                                               </div>
                                                               <input type="hidden" name="idProduct" id="idProduct" />
                                                               <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>" />
                                                               <div class="col-md-12">
                                                                  <button type="submit" class="btn btn-warning" name="submit" value="Submit">Modifier</button>
                                                               </div>
                                                            </div>
                                                         </form>
                                                      </div>
                                                      <div class="modal-footer">
                                                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                              <!-- Modal Delete-->
                                              <div class="modal fade" id="DeleteProdcutModal" tabindex="-1" aria-labelledby="DeleteProdcutModal" aria-hidden="true">
                                                <div class="modal-dialog">
                                                   <div class="modal-content">
                                                      <div class="modal-header">
                                                         <h5 class="modal-title" id="DeleteProdcutModal">Supprimer un produit</h5>
                                                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                      </div>
                                                      <div class="modal-body">
                                                         <form method="POST" id="formDeleteProdcut">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <h3>Êtes-vous sûr de vouloir supprimer ce produit ?</h3>
                                                                </div>
                                                               <input type="hidden" name="idProduct" id="idProduct" />
                                                               <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>" />
                                                               <div class="col-md-12">
                                                                  <button type="submit" class="btn btn-danger" name="submit" value="Submit">Supprimer</button>
                                                               </div>
                                                            </div>
                                                         </form>
                                                      </div>
                                                      <div class="modal-footer">
                                                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                        </div>
                                        <div class="tab-pane fade" id="client" role="tabpanel" aria-labelledby="product-tab">
                                            <div class="card">
                                                <div class="card-header d-flex justify-content-between bg-white">
                                                    <h5 class="mb-0">Mes clients</h5>
                                                </div>
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Email</th>
                                                                    <th>Type compte</th>
                                                                    <th>Société</th>
                                                                    <th>Nom</th>
                                                                    <th>Logo</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% if (Clients && Clients.length > 0) { %>
                                                                    <% Clients.forEach(function(Client) { %>
                                                                    <tr>
                                                                        <td><%= Client.email %></td>
                                                                        <td class="text-center" style="font-size: 1.5rem;"><%= Client.manager ? '🧙' : '🧑‍💼' %></td>
                                                                        <td><%= Client.companyName %></td>
                                                                        <td><%= Client.lastName %></td>
                                                                        <td><img src="<%= Client.logo %>" alt="logo" width="64" style="width: 64px;"/></td>
                                                                        <td class="text-center">
                                                                            <a data-bs-toggle="modal" data-bs-target="#DeleteClientModal"  OpenModelDelete data-id="<%= Client.email %>" class="text-danger"><i class="fi-rs-trash"></i></a>
                                                                            <a data-bs-toggle="modal" data-bs-target="#EditClientModal" OpenModelEdit data-id="<%= Client.email %>" class="text-warning ml-2"><i class="fi-rs-edit"></i></a>
                                                                        </td>
                                                                    </tr>
                                                                    <% }); %>
                                                                <% } else { %>
                                                                    <tr>
                                                                        <td colspan="6">Aucun client trouvé</td>
                                                                    </tr>
                                                                <% } %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                             <!-- Modal Update -->
                                             <div class="modal fade" id="EditClientModal" tabindex="-1" aria-labelledby="EditClientModal" aria-hidden="true">
                                                <div class="modal-dialog">
                                                   <div class="modal-content">
                                                      <div class="modal-header">
                                                         <h5 class="modal-title" id="EditClientModal">Modifier un produit</h5>
                                                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                      </div>
                                                      <div class="modal-body">
                                                         <form method="POST" enctype="multipart/form-data" id="formEditClient">
                                                            <div class="row">
                                                               <div class="form-group col-md-12">
                                                                  <label>Titre <span class="required text-danger">*</span></label>
                                                                  <input required class="form-control square" name="titleEdit" id="titleEdit" type="text">
                                                               </div>
                                                               <div class="form-group col-md-12">
                                                                  <label>Sous-titre <span class="required text-danger">*</span></label>
                                                                  <input required class="form-control square" name="subtitleEdit" id="subtitleEdit" type="text">
                                                               </div>
                                                               <div class="form-group col-md-12">
                                                                  <label>Image</span></label>
                                                                  <input class="form-control square" name="pictureProductEdit" id="pictureProductEdit" type="file">
                                                               </div>
                                                               <div class="form-group col-md-6">
                                                                  <label>Prix officiel <span class="required text-danger">*</span></label>
                                                                  <input required class="form-control square" name="priceEdit" id="priceEdit" type="number">
                                                               </div>
                                                               <div class="form-group col-md-6">
                                                                  <label>Prix de réduction</label>
                                                                  <input class="form-control square" name="oldPriceEdit" id="oldPriceEdit" type="number">
                                                               </div>
                                                               <div class="form-group col-md-6">
                                                                  <label>Avis</label>
                                                                  <input  class="form-control square" name="adviceEdit" id="adviceEdit" type="text">
                                                               </div>
                                                               <div class="form-group col-md-6">
                                                                  <label>Type <span class="required text-danger">*</span></label>
                                                                  <select class="form-select" aria-label="Default select example" id="typeEdit" name="typeEdit">
                                                                     <option value="Monthly">Mensuel</option>
                                                                     <option value="annually">Annuel</option>
                                                                     <option value="Unlimited">Illimité</option>
                                                                     <option value="Free">Gratuit</option>
                                                                     <option value="FreeLimited">Gratuit Limité</option>
                                                                  </select>
                                                               </div>
                                                               <div class="form-group col-md-12">
                                                                  <label>Couleur badge <span class="required text-danger">*</span></label>
                                                                  <input required class="form-control square" name="colorBagdeEdit" id="colorBagdeEdit" type="color">
                                                               </div>
                                                               <input type="hidden" name="idProduct" id="idProduct" />
                                                               <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>" />
                                                               <div class="col-md-12">
                                                                  <button type="submit" class="btn btn-warning" name="submit" value="Submit">Modifier</button>
                                                               </div>
                                                            </div>
                                                         </form>
                                                      </div>
                                                      <div class="modal-footer">
                                                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                              <!-- Modal Delete-->
                                              <div class="modal fade" id="DeleteClientModal" tabindex="-1" aria-labelledby="DeleteClientModal" aria-hidden="true">
                                                <div class="modal-dialog">
                                                   <div class="modal-content">
                                                      <div class="modal-header">
                                                         <h5 class="modal-title" id="DeleteClientModal">Supprimer un produit</h5>
                                                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                      </div>
                                                      <div class="modal-body">
                                                         <form method="POST" id="formDeleteClient">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <h3>Êtes-vous sûr de vouloir supprimer ce produit ?</h3>
                                                                </div>
                                                               <input type="hidden" name="idProduct" id="idProduct" />
                                                               <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>" />
                                                               <div class="col-md-12">
                                                                  <button type="submit" class="btn btn-danger" name="submit" value="Submit">Supprimer</button>
                                                               </div>
                                                            </div>
                                                         </form>
                                                      </div>
                                                      <div class="modal-footer">
                                                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                        </div>
                                        <% } %>
                                        <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">Vos commandes</h5>
                                                </div>
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Logiciel</th>
                                                                    <th>Date d'achat</th>
                                                                    <th>Date de retouvellement</th>
                                                                    <th>Status</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% if (Orders && Orders.length > 0) { %>
                                                                    <% Orders.forEach(function(Order) { %>
                                                                    <tr>
                                                                        <td><%= Order.productName %></td>
                                                                        <td><%= Order.dateAdded %></td>
                                                                        <td><%= Order.renewalDate %></td>
                                                                        <td><%= Order.type %></td>
                                                                        <td class="text-center">
                                                                            <a data-id="<%= Orders.id %>" class="btn-small d-block text-danger"><i class="fi-rs-trash"></i></a>
                                                                            <a data-id="<%= Orders.id %>" class="btn-small d-block text-warning ml-2"><i class="fi-rs-edit"></i></a>
                                                                        </td>
                                                                    </tr>
                                                                    <% }); %>
                                                                <% } else { %>
                                                                    <tr>
                                                                        <td colspan="6">Aucun client trouvé</td>
                                                                    </tr>
                                                                <% } %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="track-orders" role="tabpanel" aria-labelledby="track-orders-tab">
                                            <div class="card">
                                                <div class="card-header bg-white">
                                                    <h5 class="mb-0">Facture et abonnement</h5>
                                                </div>
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Order</th>
                                                                    <th>Date</th>
                                                                    <th>Status</th>
                                                                    <th>Total</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>#1357</td>
                                                                    <td>March 45, 2020</td>
                                                                    <td>Processing</td>
                                                                    <td>$125.00 for 2 item</td>
                                                                    <td><a href="#" class="btn-small d-block">View</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>#2468</td>
                                                                    <td>June 29, 2020</td>
                                                                    <td>Completed</td>
                                                                    <td>$364.00 for 5 item</td>
                                                                    <td><a href="#" class="btn-small d-block">View</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>#2366</td>
                                                                    <td>August 02, 2020</td>
                                                                    <td>Completed</td>
                                                                    <td>$280.00 for 3 item</td>
                                                                    <td><a href="#" class="btn-small d-block">View</a></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
                                            <div class="card">
                                                <div class="card-header d-flex justify-content-between bg-white">
                                                    <h5 class="mb-0">Mon équipes</h5>
                                                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#AddTeamModal">Ajouter</button>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <% if (Teams && Teams.length > 0) { %>
                                                            <% Teams.forEach(function(team) { %>
                                                                <div class="col-lg-4">
                                                                    <div class="card mb-3 mb-lg-0">
                                                                        <div class="card-header bg-white">
                                                                            <h5 class="mb-0"><%= team.lname %></h5>
                                                                        </div>
                                                                        <div class="card-body">
                                                                            <p> Prénom : <%= team.fname %><br/>
                                                                                Nom : <%= team.lname %><br/>
                                                                                Type : <%= team.type %><br/>
                                                                            </p>
                                                                            <a href="#" data-id="<%= team.id %>"  class="btn btn-small btn-danger">Supprimer</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            <% }); %>
                                                        <% } else { %>
                                                            <div class="col-lg-12">
                                                                <div class="card mb-3 mb-lg-0">
                                                                    <div class="card-header bg-white">
                                                                        <h5 class="mb-0">Aucun</h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        <% } %>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                             <!-- Modal Add -->
                                             <div class="modal fade" id="AddTeamModal" tabindex="-1" aria-labelledby="AddTeamModal" aria-hidden="true">
                                                <div class="modal-dialog">
                                                   <div class="modal-content">
                                                      <div class="modal-header">
                                                         <h5 class="modal-title" id="exampleModalLabel">Ajouter un collaborateur</h5>
                                                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                      </div>
                                                      <div class="modal-body">
                                                         <form method="POST" id="formAddTeam">
                                                            <div class="row">
                                                               <div class="form-group col-md-6">
                                                                  <label>Nom <span class="required text-danger">*</span></label>
                                                                  <input required class="form-control square" name="tlname" id="tlname" type="text">
                                                               </div>
                                                               <div class="form-group col-md-6">
                                                                  <label>Prénom <span class="required text-danger">*</span></label>
                                                                  <input required class="form-control square" name="tfname" id="tfname" type="text">
                                                               </div>
                                                               <div class="form-group col-md-12">
                                                                  <label>Mot de passe</span></label>
                                                                  <input class="form-control square" name="tpassword" id="tpassword" type="password">
                                                               </div>
                                                               <div class="form-group col-md-6">
                                                                  <label>Type (Rôle) <span class="required text-danger">*</span></label>
                                                                  <select class="form-select" aria-label="Default select example" id="ttype" name="ttype">
                                                                     <option value="user">Utilisateur</option>
                                                                     <option value="manager">Responsable</option>
                                                                     <option value="administrator">administrateur</option>
                                                                     <option value="master">maitre</option>
                                                                  </select>
                                                               </div>
                                                               <div class="form-group col-md-12">
                                                                  <label>Email <span class="required text-danger">*</span></label>
                                                                  <input required class="form-control square" name="temail" id="temail" type="email">
                                                               </div>
                                                               <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>" />
                                                               <input type="hidden" name="emailmanager" id="emailmanager" value="<%= user.email %>" />
                                                               <div class="col-md-12">
                                                                  <button type="submit" class="btn btn-primary" name="submit" value="Submit">Valider</button>
                                                               </div>
                                                            </div>
                                                         </form>
                                                      </div>
                                                      <div class="modal-footer">
                                                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                        </div>
                                        <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>Vos informations</h5>
                                                </div>
                                                <div class="card-body">
                                                    <form method="post" enctype="multipart/form-data" id="formUserInformation">
                                                        <div class="row">
                                                            <div class="form-group col-md-6">
                                                                <label>Prénom <span class="required text-danger">*</span></label>
                                                                <input required class="form-control square" name="firstName" id="firstName" type="text" />
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label>Nom <span class="required text-danger">*</span></label>
                                                                <input required class="form-control square" name="lastName" id="lastName" type="text" />
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label>Société <span class="required text-danger">*</span></label>
                                                                <input required class="form-control square" name="companyName" id="companyName" type="text" />
                                                            </div>
                                                            <div class="blog-card border-radius-10 overflow-hidden text-center">
                                                                <img id="imglogo" src="/imgs/page/wait-picture.jpg" alt="logo société" class="border-radius-10 mb-30 hover-up" style="width: 180px;" />
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label>Logo</label>
                                                                <input class="form-control square" name="filelogo" id="filelogo" type="file" accept=".png,.jpg,.jpeg,image/png,image/jpeg" />
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label>Siret <span class="required text-danger">*</span></label>
                                                                <input required class="form-control square" name="siret" id="siret" type="text" />
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label>Email <span class="required text-danger">*</span></label>
                                                                <input readonly class="form-control square" name="email" id="email" type="email" value="<%=session.user.email%>"/>
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label>Téléphone <span class="required text-danger">*</span></label>
                                                                <input required class="form-control square" name="phone" id="phone" type="tel" />
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label>Adresse <span class="required text-danger">*</span></label>
                                                                <input required class="form-control square" name="addressclient" id="addressclient" type="text" />
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label>Nouveau mot de passe</label>
                                                                <input class="form-control square" name="npassword" id="npassword" type="password" />
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label>Confirmer le mot de passe </label>
                                                                <input class="form-control square" name="cpassword" id="cpassword" type="password" />
                                                            </div>
                                                            <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>" />
                                                            <input type="hidden" name="imagelogo" id="imagelogo" />
                                                            <div class="col-md-12">
                                                                <button type="submit" class="btn btn-fill-out btn-success">Enregistrer</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <%- include('partials/footer') %>

        <!-- Preloader Start -->
        <div id="preloader-active">
            <div class="preloader d-flex align-items-center justify-content-center">
                <div class="preloader-inner position-relative">
                    <div class="text-center">
                        <h5 class="mb-10">Chargement</h5>
                        <div class="loader">
                            <div class="bar bar1"></div>
                            <div class="bar bar2"></div>
                            <div class="bar bar3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Vendor JS-->
        <script src="/js/vendor/modernizr-3.6.0.min.js"></script>
        <script src="/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="/js/vendor/jquery-migrate-3.3.0.min.js"></script>
        <script src="/js/vendor/bootstrap.bundle.min.js"></script>
        <script src="/js/plugins/slick.js"></script>
        <script src="/js/plugins/jquery.syotimer.min.js"></script>
        <script src="/js/plugins/wow.js"></script>
        <script src="/js/plugins/jquery-ui.js"></script>
        <script src="/js/plugins/perfect-scrollbar.js"></script>
        <script src="/js/plugins/magnific-popup.js"></script>
        <script src="/js/plugins/select2.min.js"></script>
        <script src="/js/plugins/waypoints.js"></script>
        <script src="/js/plugins/counterup.js"></script>
        <script src="/js/plugins/jquery.countdown.min.js"></script>
        <script src="/js/plugins/images-loaded.js"></script>
        <script src="/js/plugins/isotope.js"></script>
        <script src="/js/plugins/scrollup.js"></script>
        <script src="/js/plugins/jquery.vticker-min.js"></script>
        <script src="/js/plugins/jquery.theia.sticky.js"></script>
        <script src="/js/plugins/jquery.elevatezoom.js"></script>
        <!-- Template  JS -->
        <script src="/js/maind134.js?v=3.4"></script>
        <script src="/js/shopd134.js?v=3.4"></script>
        <script src="/js/account-fetch.js"></script>
        <% if (user.manager==true) { %>
        <script src="/js/account-fetch-manager.js"></script>
        <% } %>
       <!-- <script>
            document.getElementById("account-detail-tab").addEventListener("click", function (event) {
    // Récupérer l'email de l'utilisateur (assurez-vous que cet élément existe)
    var userEmail = "<%=session.user.email%>";

    fetch("/accountDetails", {
      method: "POST",
      headers: {
        "CSRF-Token": "<%=csrfToken%>",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ email: userEmail }),
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error("Erreur réseau");
        }
        return response.json();
      })
      .then((data) => {
        if (data) {
          document.getElementById("firstName").value = data.firstName || "";
          document.getElementById("lastName").value = data.lastName || "";
          document.getElementById("email").value = data.email || "";
          document.getElementById("siret").value = data.siret || "";
          document.getElementById("addressclient").value = data.address || "";
          document.getElementById("phone").value = data.phone || "";
          document.getElementById("companyName").value = data.companyName || "";
          document.getElementById("imglogo").src = data.logo || "";
          document.getElementById("imagelogo").value = data.logo || "";
        } else {
          console.error("Aucune donnée reçue");
        }
      })
      .catch((error) => {
        console.error("Erreur:", error);
      });
  });

const inputLogo = document.getElementById("filelogo");
const imgView = document.getElementById("imglogo");

inputLogo.addEventListener("change", function (e) {
  const file = e.target.files[0];
  if (file) {
    // Vérifier si le fichier est une image
    if (file.type.startsWith("image/")) {
      const reader = new FileReader();

      reader.onload = function (e) {
        imgView.src = e.target.result;
      };

      reader.readAsDataURL(file);
    } else {
      alert("Veuillez sélectionner un fichier image.");
      inputLogo.value = ""; // Réinitialiser l'input file
    }
  }
});

// Utilisateur Get
document.getElementById("formUserInformation").addEventListener("submit", async function (e) {
    event.preventDefault();
    const form = event.target;
    const formData = new FormData(form);
    try {
      const response = await fetch("/accountUpdate", {
        method: "POST",
        body: formData, // FormData gère automatiquement l'encodage multipart/form-data
        headers: {
          "CSRF-Token": "<%=csrfToken%>",
        },
      });

      if (response.ok) {
        console.log("Requête envoyée avec succès");
      } else {
        console.error("Erreur");
      }
    } catch (error) {
      console.error("Erreur:", error);
    }
  });
  <% if (user.manager==true) { %>
// Produit Get
document.getElementById("formAddProdcut").addEventListener("submit", async function (e) {
    event.preventDefault();
    const form = event.target;
    const formData = new FormData(form);
    try {
      const response = await fetch("/managerAddProduct", {
        method: "POST",
        body: formData, // FormData gère automatiquement l'encodage multipart/form-data
        headers: {
          "CSRF-Token": "<%=csrfToken%>",
        },
      });

      if (response.ok) {
        console.log("Requête envoyée avec succès");
      } else {
        console.error("Erreur");
      }
    } catch (error) {
      console.error("Erreur:", error);
    }
  });


  <% } %>
        </script> -->
    </body>
</html>
