<!DOCTYPE html>
<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8">
    <title>Boutique Facilys</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/css/maind134.css?v=3.4">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />
</head>

<body>
    <header class="header-area header-style-1 header-height-2">
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap d-flex justify-content-around">
                    <div class="logo">
                        <a href="/"><img src="/favicon.png" alt="logo" style="width: 64px;"></a>
                    </div>
                    <div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">

                                    <%- include('partials/header-login') %>

                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/shopping-cart">
                                        <i class="iconoir-cart"></i>
                                        <span class="pro-count blue">2</span>
                                    </a>
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                        <!--  <ul>
                                            <li>
                                                <div class="shopping-cart-img">
                                                    <a href="shop-product-right.html"><img alt="Evara" src="/imgs/shop/thumbnail-3.jpg"></a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a href="shop-product-right.html">Daisy Casual Bag</a></h4>
                                                    <h4><span>1 × </span>$800.00</h4>
                                                </div>
                                                <div class="shopping-cart-delete">
                                                    <a href="#"><i class="fi-rs-cross-small"></i></a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="shopping-cart-img">
                                                    <a href="shop-product-right.html"><img alt="Evara" src="/imgs/shop/thumbnail-2.jpg"></a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a href="shop-product-right.html">Corduroy Shirts</a></h4>
                                                    <h4><span>1 × </span>$3200.00</h4>
                                                </div>
                                                <div class="shopping-cart-delete">
                                                    <a href="#"><i class="fi-rs-cross-small"></i></a>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="shopping-cart-footer">
                                            <div class="shopping-cart-total">
                                                <h4>Total <span>$4000.00</span></h4>
                                            </div>
                                            <div class="shopping-cart-button">
                                                <a href="shop-cart.html" class="outline">View cart</a>
                                                <a href="shop-checkout.html">Checkout</a>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="justify-content-center header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="/"><img src="favicon.png" alt="logo" style="width: 64px;"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="/">Boutique</a></li>
                                    <li>
                                        <a href="/about">À propos de nous</a>
                                    </li>
                                    <li>
                                        <a href="/contact">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/login">
                                    <i class="iconoir-user text-7"></i>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/shopping-cart">
                                    <i class="iconoir-cart text-7"></i>
                                    <span class="pro-count blue">2</span>
                                </a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara"
                                                        src="/imgs/shop/thumbnail-3.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Plain Striola Shirts</a></h4>
                                                <h3><span>1 × </span>$800.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara"
                                                        src="/imgs/shop/thumbnail-4.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Macbook Pro 2022</a></h4>
                                                <h3><span>1 × </span>$3500.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Total <span>$383.00</span></h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a href="shop-cart.html">View cart</a>
                                            <a href="shop-checkout.html">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <%- include('partials/nav-mobile') %>

    <main class="main">
        <section class="featured section-padding position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/imgs/theme/icons/feature-1.png" alt="" style="width: 64px;">
                            <h4 class="bg-1">Multiplateforme</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/imgs/theme/icons/feature-2.png" alt="" style="width: 64px;">
                            <h4 class="bg-1">Gestion simple</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/imgs/theme/icons/feature-3.png" alt="" style="width: 64px;">
                            <h4 class="bg-1">Prix abordable</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/imgs/theme/icons/feature-4.png" alt="" style="width: 64px;">
                            <h4 class="bg-1">Promotions</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/imgs/theme/icons/feature-5.png" alt="" style="width: 64px;">
                            <h4 class="bg-1">Sécurisé</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/imgs/theme/icons/feature-6.png" alt="" style="width: 64px;">
                            <h4 class="bg-1">Support</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="product-tabs section-padding position-relative wow fadeIn animated">
            <div class="bg-square"></div>
            <div class="container">
                <!--End nav-tabs-->
                <div class="tab-content wow fadeIn animated" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                        <div class="row product-grid-4">
                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="shop-product-right.html">
                                                <img class="default-img" src="/imgs/shop/setup-1-1.png" alt="">
                                                <img class="hover-img" src="/imgs/shop/setup-1-1.png" alt="">
                                            </a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">Mensuel</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html">Facilys</a>
                                        </div>
                                        <h2><a href="shop-product-right.html">Logiciel Facilys abonnement au mois</a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span>90%</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>19.99€</span>
                                            <span class="old-price">25.99 €</span>
                                        </div>
                                        <div class="product-action-1 show">
                                            <a aria-label="Ajouter au panier" class="action-btn hover-up"
                                                href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="shop-product-right.html">
                                                <img class="default-img" src="/imgs/shop/setup-1-1.png" alt="">
                                                <img class="hover-img" src="/imgs/shop/setup-1-1.png" alt="">
                                            </a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="new">Annuel</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html">Facilys</a>
                                        </div>
                                        <h2><a href="shop-product-right.html">Logiciel Facilys abonnement au année</a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span>50%</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>199 €</span>
                                            <span class="old-price">228.99 €</span>
                                        </div>
                                        <div class="product-action-1 show">
                                            <a aria-label="Ajouter au panier" class="action-btn hover-up"
                                                href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="shop-product-right.html">
                                                <img class="default-img" src="/imgs/shop/setup-1-1.png" alt="">
                                                <img class="hover-img" src="/imgs/shop/setup-1-1.png" alt="">
                                            </a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="best">Illimité</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html">Facilys</a>
                                        </div>
                                        <h2><a href="shop-product-right.html">Logiciel Facilys achat une seule fois</a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span>95%</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>499 € </span>
                                            <span class="old-price">524.30 €</span>
                                        </div>
                                        <div class="product-action-1 show">
                                            <a aria-label="Ajouter au panier" class="action-btn hover-up"
                                                href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="shop-product-right.html">
                                                <img class="default-img" src="/imgs/shop/setup-1-1.png" alt="">
                                                <img class="hover-img" src="/imgs/shop/setup-1-1.png" alt="">
                                            </a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="sale">Gratuit</span> 
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html">Facilys essai</a>
                                        </div>
                                        <h2><a href="shop-product-right.html">Facilys essai du logiciel avec restriction</a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span>70%</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>Free</span>
                                            <span class="old-price">1 €</span>
                                        </div>
                                        <div class="product-action-1 show">
                                            <a aria-label="Ajouter au panier" class="action-btn hover-up"
                                                href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% products.forEach(function(product) { %>
                                <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="shop-product-right.html">
                                                    <img class="default-img" src="<%= product.picture %>" alt="">
                                                    <img class="hover-img" src="<%= product.picture %>" alt="">
                                                </a>
                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="sale" style="background: <%= product.colorBagde %>;"><%= product.type %></span>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href="shop-grid-right.html"><%= product.subtitle %></a>
                                            </div>
                                            <h2><a href="shop-product-right.html"><%= product.title %></a></h2>
                                            <div class="rating-result" title="<%= product.advice %>">
                                                <span>
                                                    <span><%= product.advice %></span>
                                                </span>
                                            </div>
                                            <div class="product-price">
                                                <span><%= product.price %></span>
                                                <span class="old-price"><%= product.oldPrice %></span>
                                            </div>
                                            <div class="product-action-1 show">
                                                <a aria-label="Ajouter au panier" class="action-btn hover-up"
                                                    href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              <% }); %>
                        </div>
                        <!--End product-grid-4-->
                    </div>
                    <!--En tab one (Featured)-->
                </div>
                <!--End tab-content-->
            </div>
        </section>
        <section class="mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="banner-bg wow fadeIn animated">
                            <div class="banner-content">
                                <h2 class="mb-15">Présentation de l'application pour garagistes</h4>
                                    <p class="divider-text-justify">Bienvenue dans notre application dédiée aux
                                        professionnels de la mécanique automobile
                                        ! <br>
                                        Conçue spécialement pour les garagistes, notre solution innovante vous permet de
                                        gérer efficacement votre atelier, vos clients, vos stocks et bien plus encore,
                                        tout
                                        en optimisant votre temps et vos ressources.<br>
                                        Fonctionnalités principales :

                                    <ul class="mt-30 text-7">
                                        <li>- Gestion des clients : Organisez les informations de vos clients, suivez
                                            l'historique des interventions et facilitez la communication.</li>
                                        <li>- Gestion des stocks : Gardez un œil sur vos pièces et équipements pour
                                            éviter les
                                            ruptures de stock et commandez facilement.</li>
                                        <li>- Facturation et devis : Éditez des factures professionnelles et des devis
                                            en
                                            quelques clics.</li>
                                    </ul>
                                    </p>
                                    <h3 class="mt-30 mb-15">Nos Offres d'Abonnement</h5>
                                        <p class="divider-text-justify">
                                            Pour répondre aux besoins variés des garagistes, nous proposons plusieurs
                                            formules
                                            flexibles et adaptées à votre activité :<br>

                                        <ul class="mt-30 text-7">
                                            <li class="mb-10"> <strong>Abonnement Mensuel : 19,99 €/mois</strong><br>
                                                Idéal pour les petites structures ou pour ceux qui préfèrent la
                                                flexibilité.
                                                Accédez à toutes les fonctionnalités de l’application sans engagement à
                                                long terme.
                                                Renouvelable automatiquement chaque mois.</li>
                                            <li class="mb-10"><strong>Abonnement Annuel : 199 €/an</strong><br>
                                                Faites des économies en optant pour une formule annuelle avec une
                                                réduction de plus
                                                de 15% par rapport à l’abonnement mensuel.
                                                Paiement unique pour une année complète de tranquillité.
                                                Idéal pour les garages qui souhaitent s’engager sur le long terme.</li>
                                            <li class="mb-10"><strong>Achat à Vie : 499 € (paiement unique)</strong><br>
                                                Profitez d’un accès illimité à toutes les fonctionnalités de
                                                l’application sans
                                                abonnement ni renouvellement.
                                                Investissement unique pour une solution durable, sans frais
                                                supplémentaires.
                                                Mise à jour gratuite des nouvelles fonctionnalités à vie.</li>
                                            <li class="mb-10"><strong>Version d'Essai : Gratuit mais limité</strong>
                                                Testez toutes les fonctionnalités de l’application sans engagement.
                                                Accès complet à la version premium pendant 14 jours.
                                                Idéal pour évaluer comment l’application peut améliorer la gestion de
                                                votre garage.</li>
                                        </ul>
                                        </p>
                                        <h3 class="mt-30 mb-15"> Pourquoi choisir notre application ?</h6>
                                            <p class="divider-text-justify">
                                                Ergonomie intuitive : Simple à utiliser, même pour les utilisateurs peu
                                                familiarisés
                                                avec la technologie.
                                                Support dédié : Assistance technique réactive et personnalisée en cas de
                                                besoin.
                                                Sécurité garantie : Toutes vos données sont protégées et sauvegardées
                                                dans un
                                                environnement sécurisé.

                                                N’attendez plus, essayez gratuitement notre application pendant 14 jours
                                                et
                                                découvrez comment elle peut révolutionner votre manière de gérer votre
                                                garage !</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-10">Chargement</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/js/plugins/slick.js"></script>
    <script src="/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/js/plugins/wow.js"></script>
    <script src="/js/plugins/jquery-ui.js"></script>
    <script src="/js/plugins/perfect-scrollbar.js"></script>
    <script src="/js/plugins/magnific-popup.js"></script>
    <script src="/js/plugins/select2.min.js"></script>
    <script src="/js/plugins/waypoints.js"></script>
    <script src="/js/plugins/counterup.js"></script>
    <script src="/js/plugins/jquery.countdown.min.js"></script>
    <script src="/js/plugins/images-loaded.js"></script>
    <script src="/js/plugins/isotope.js"></script>
    <script src="/js/plugins/scrollup.js"></script>
    <script src="/js/plugins/jquery.vticker-min.js"></script>
    <script src="/js/plugins/jquery.theia.sticky.js"></script>
    <script src="/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="/js/maind134.js?v=3.4"></script>
    <script src="/js/shopd134.js?v=3.4"></script>


</body>

</html>