<!DOCTYPE html>
<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8">
    <title>Boutique Facilys | Commandes</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/css/maind134.css?v=3.4">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />
</head>

<body>
    <header class="header-area header-style-1 header-height-2 bg-white">
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap d-flex justify-content-around">
                    <div class="logo">
                        <a href="/"><img src="/favicon.png" alt="logo" style="width: 64px;"></a>
                    </div>
                    <div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    
                                    <%- include('partials/header-login') %>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="justify-content-center header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="/"><img src="favicon.png" alt="logo" style="width: 64px;"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a href="/">Boutique</a></li>
                                    <li>
                                        <a href="/about">À propos de nous</a>
                                    </li>
                                    <li>
                                        <a href="/contact">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/login">
                                    <i class="iconoir-user text-7"></i>
                                </a>
                            </div>
                            
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <%- include('partials/nav-mobile') %>

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Politique de confidentialité
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50 pb-2 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="divider mt-50 mb-50"></div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Votre commande</h4>
                            </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Produit</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="image product-thumbnail"><img src="<%= Product.picture %>" alt="#"></td>
                                            <td>
                                                <h5><%= Product.title %></h5>
                                             Type : <span class="badge badge-pill badge-info" style="background-color: #99bbad;"><%= Product.type %></span>
                                            </td>
                                            <td><%= Product.price %> €</td>
                                        </tr>
                                        <tr>
                                            <th>Sous-total</th>
                                            <td class="product-subtotal" colspan="2"><%= Product.price %> €</td>
                                        </tr>
                                        <tr>
                                            <th>TVA</th>
                                            <td colspan="2"><em>20%</em></td>
                                        </tr>
                                        <tr>
                                            <th>Total</th>
                                            <td colspan="2" class="product-subtotal"><span class="font-xl text-brand fw-900"><%= Result %> €</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                            <form method="post" action="/payment">
                                <div class="payment_method">
                                    <div class="mb-25">
                                        <h5>Paiement</h5>
                                    </div>
                                    <div class="payment_option">
                                        <div class="custome-radio">
                                            <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios4" checked="">
                                            <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse" data-target="#checkPayment" aria-controls="checkPayment">Paiement par carte</label>
                                            <img src="/imgs/theme/visa-mastercard-icon-9.png" width="48px" style="width: 48px;" />
                                            <div class="form-group collapse in" id="checkPayment">
                                                <p class="text-muted mt-5">Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode. </p>
                                            </div>
                                        </div>
                                        <div class="custome-radio">
                                            <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios5" checked="">
                                            <label class="form-check-label" for="exampleRadios5" data-bs-toggle="collapse" data-target="#paypal" aria-controls="paypal">Paypal</label>
                                            <img src="/imgs/theme/paypak.png" width="48px" style="width: 48px;" />
                                            <div class="form-group collapse in" id="paypal">
                                                <p class="text-muted mt-5">Pay via PayPal; you can pay with your credit card if you don't have a PayPal account.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>" />
                                <input type="hidden" id="idProduct" name="idProduct" value="<%= Product.id %>"/>
                                <button type="submit" class="btn btn-block btn-success mt-30">Passer commande</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
        <!-- Preloader Start -->
        <div id="preloader-active">
            <div class="preloader d-flex align-items-center justify-content-center">
                <div class="preloader-inner position-relative">
                    <div class="text-center">
                        <h5 class="mb-10">Chargement</h5>
                        <div class="loader">
                            <div class="bar bar1"></div>
                            <div class="bar bar2"></div>
                            <div class="bar bar3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Vendor JS-->
        <script src="/js/vendor/modernizr-3.6.0.min.js"></script>
        <script src="/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="/js/vendor/jquery-migrate-3.3.0.min.js"></script>
        <script src="/js/vendor/bootstrap.bundle.min.js"></script>
        <script src="/js/plugins/slick.js"></script>
        <script src="/js/plugins/jquery.syotimer.min.js"></script>
        <script src="/js/plugins/wow.js"></script>
        <script src="/js/plugins/jquery-ui.js"></script>
        <script src="/js/plugins/perfect-scrollbar.js"></script>
        <script src="/js/plugins/magnific-popup.js"></script>
        <script src="/js/plugins/select2.min.js"></script>
        <script src="/js/plugins/waypoints.js"></script>
        <script src="/js/plugins/counterup.js"></script>
        <script src="/js/plugins/jquery.countdown.min.js"></script>
        <script src="/js/plugins/images-loaded.js"></script>
        <script src="/js/plugins/isotope.js"></script>
        <script src="/js/plugins/scrollup.js"></script>
        <script src="/js/plugins/jquery.vticker-min.js"></script>
        <script src="/js/plugins/jquery.theia.sticky.js"></script>
        <script src="/js/plugins/jquery.elevatezoom.js"></script>
        <!-- Template  JS -->
        <script src="/js/maind134.js?v=3.4"></script>
        <script src="/js/shopd134.js?v=3.4"></script>


</body>

</html>