@inject PageTitleService PageTitleService
@inject AuthService AuthService
@inject NavigationManager NavigationManager

<!--<div class="top-row ps-3 navbar navbar-dark">
<div class="container-fluid">
<a class="navbar-brand" href="">Facilys</a>
</div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
<nav class="flex-column">
<div class="nav-item px-3">
<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
</NavLink>
</div>

<div class="nav-item px-3">
<NavLink class="nav-link" href="counter">
<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
</NavLink>
</div>

<div class="nav-item px-3">
<NavLink class="nav-link" href="weather">
<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
</NavLink>
</div>
</nav>
</div>-->
<div class="topbar d-print-none">
    <div class="container-xxl">
        <nav class="topbar-custom d-flex justify-content-between" id="topbar-custom">


            <ul class="topbar-item list-unstyled d-inline-flex align-items-center mb-0">
                <li>
                    <button class="nav-link mobile-menu-btn nav-icon" id="togglemenu">
                        <i class="iconoir-menu-scale"></i>
                    </button>
                </li>
                <li class="mx-3 welcome-text">
                    <h3 class="mb-0 fw-bold text-truncate">@PageTitleService.CurrentTitle</h3>
                </li>
            </ul>
            <ul class="topbar-item list-unstyled d-inline-flex align-items-center mb-0">
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle arrow-none nav-icon" data-bs-toggle="dropdown" href="#" role="button"
                    aria-haspopup="false" aria-expanded="false">
                        <img src="/assets/images/flags/french_flag.jpg" alt="flag france" class="thumb-sm rounded-circle">
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><img src="/assets/images/flags/us_flag.jpg" alt="" height="15" class="me-2">English</a>
                        <a class="dropdown-item" href="#"><img src="/assets/images/flags/spain_flag.jpg" alt="" height="15" class="me-2">Spanish</a>
                        <a class="dropdown-item" href="#"><img src="/assets/images/flags/germany_flag.jpg" alt="" height="15" class="me-2">German</a>
                        <a class="dropdown-item" href="#"><img src="/assets/images/flags/french_flag.jpg" alt="" height="15" class="me-2">French</a>
                    </div>
                </li>

                <li class="dropdown topbar-item">
                    <a class="nav-link dropdown-toggle arrow-none nav-icon" data-bs-toggle="dropdown" href="#" role="button"
                    aria-haspopup="false" aria-expanded="false">
                        <img src="/assets/images/users/avatar-demo.png" alt="" class="thumb-lg rounded-circle">
                    </a>
                    <div class="dropdown-menu dropdown-menu-end py-0">
                        <div class="d-flex align-items-center dropdown-item py-2 bg-secondary-subtle">
                            <div class="flex-shrink-0">
                                <img src="/assets/images/users/avatar-demo.png" alt="" class="thumb-md rounded-circle">
                            </div>
                            <div class="flex-grow-1 ms-2 text-truncate align-self-center">
                                <h6 class="my-0 fw-medium text-dark fs-13">@cookieData.Login</h6>
                                <small class="text-muted mb-0">@cookieData.Email</small>
                            </div><!--end media-body-->
                        </div>
                        <div class="dropdown-divider mt-0"></div>
                        <small class="text-muted px-2 pb-1 d-block">Compte</small>
                        <NavLink class="dropdown-item" href="@($"/profile/{cookieData.Id}")"><i class="las la-wallet fs-18 me-1 align-text-bottom"></i> Mon compte</NavLink>
                        <small class="text-muted px-2 py-1 d-block">Paramètre</small>
                        <NavLink class="dropdown-item" href="@($"/settingCompany/{cookieData.Email}")"><i class="las la-cog fs-18 me-1 align-text-bottom"></i>Paramètres de sociète</NavLink>
                        <a class="dropdown-item" href="pages-profile.html"><i class="las la-lock fs-18 me-1 align-text-bottom"></i> Sécurité</a>
                        <NavLink class="dropdown-item" href="/helpers"><i class="las la-question-circle fs-18 me-1 align-text-bottom"></i> Centre d'aide</NavLink>
                        <div class="dropdown-divider mb-0"></div>
                        <a class="dropdown-item text-danger" href="#" @onclick="LogoutAndCloseApp"><i class="las la-power-off fs-18 me-1 align-text-bottom"></i> Fermer</a>
                    </div>
                </li>
            </ul><!--end topbar-nav-->
        </nav>
        <!-- end navbar-->
    </div>
</div>
<!-- Top Bar End -->
<!-- leftbar-tab-menu -->
<div class="startbar d-print-none">
    <!--start brand-->
    <div class="brand">
        <NavLink href="/dashboard" class="logo">
            <span>
                <img src="/assets/images/logo-sm.png" alt="logo-small" class="logo-sm">
            </span>
        </NavLink>
    </div>
    <!--end brand-->
    <!--start startbar-menu-->
    <div class="startbar-menu">
        <div class="startbar-collapse" id="startbarCollapse" data-simplebar>
            <div class="d-flex align-items-start flex-column w-100">
                <!-- Navigation -->
                <ul class="navbar-nav mb-auto w-100">
                    <li class="menu-label pt-0 mt-0">
                        <!-- <small class="label-border">
                        <div class="border_left hidden-xs"></div>
                        <div class="border_right"></div>
                        </small> -->
                        <span>Composantes</span>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/dashboard">
                            <i class="iconoir-home-simple menu-icon"></i>
                            <span>Dashboards</span>
                        </NavLink>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/managerClients" title="Gestion des clients">
                            <i class="iconoir-group menu-icon"></i>
                            <span>Clients</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/managerVehicles" title="Gestion des véhicules">
                            <i class="iconoir-car menu-icon"></i>
                            <span>Véhicules</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/managerQuotes" title="Gestion des devis">
                            <i class="iconoir-page menu-icon"></i>
                            <span>Devis</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/editionInvoices" title="Gestion des factures et order de réparation">
                            <i class="iconoir-multiple-pages menu-icon"></i>
                            <span>Factures <br>Ordre de réparation</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/managerInventory" title="Gestion des stocks">
                            <i class="iconoir-packages menu-icon"></i>
                            <span>Stocks</span>
                        </NavLink>
                    </li>
                    <li class="menu-label mt-2">
                        <small class="label-border">
                            <div class="border_left hidden-xs"></div>
                            <div class="border_right"></div>
                        </small>
                        <span>Analyses</span>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/statistique" title="Statistique">
                            <i class="iconoir-stats-up-square menu-icon"></i>
                            <span>Analyses<br>Statistique</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/exports" title="Exportation">
                            <i class="iconoir-database-export menu-icon"></i>
                            <span>Exportation des données</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/setting" title="Paramètre">
                            <i class="iconoir-settings menu-icon"></i>
                            <span>Paramètres</span>
                        </NavLink>
                    </li>
                </ul><!--end navbar-nav--->
            </div>
        </div><!--end startbar-collapse-->
    </div><!--end startbar-menu-->
</div><!--end startbar-->
<div class="startbar-overlay d-print-none"></div>
<!-- end leftbar-tab-menu-->
@code {
    private string Title => PageTitleService.CurrentTitle;
    private CookieData cookieData = new();

    protected override async Task OnInitializedAsync()
    {
        PageTitleService.TitleChanged += OnTitleChanged;

        if (await AuthService.IsAuthenticatedAsync() == true){
            cookieData = await AuthService.GetAuthenticatedAsync();
            if (cookieData == null){
                NavigationManager.NavigateTo("/login", forceLoad: true);
            }
        }else{
            NavigationManager.NavigateTo("/login", forceLoad: true);
        }
    }

    private void OnTitleChanged()
    {
        // Met à jour l'interface utilisateur
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        // Désabonne pour éviter des références fantômes
        PageTitleService.TitleChanged -= OnTitleChanged;
    }

    public async Task LogoutAndCloseApp(){
        cookieData = null;
        await AuthService.LogoutAsync();
    }
}