<!DOCTYPE html>

<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8">
    <title>Boutique Facilys | Mon compte</title>
    <meta name="author" content="FilleuxStudio">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="mon compte">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font -->
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" href="/fonts/font-icons.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/sib-styles.css">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Favicon and Touch Icons  -->
    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/favicon.png">

</head>

<body class="preload-wrapper">
   
    <!-- RTL -->
    <a href="javascript:void(0);" id="toggle-rtl" class="btn-style-2 radius-3"><span>RTL</span></a>
    <!-- /RTL  -->
    
    <!-- Scroll Top -->
    <button id="scroll-top">
        <svg width="24" height="25" viewbox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_15741_24194)">
            <path d="M3 11.9175L12 2.91748L21 11.9175H16.5V20.1675C16.5 20.3664 16.421 20.5572 16.2803 20.6978C16.1397 20.8385 15.9489 20.9175 15.75 20.9175H8.25C8.05109 20.9175 7.86032 20.8385 7.71967 20.6978C7.57902 20.5572 7.5 20.3664 7.5 20.1675V11.9175H3Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
            <defs>
            <clippath id="clip0_15741_24194">
            <rect width="24" height="24" fill="white" transform="translate(0 0.66748)"></rect>
            </clippath>
            </defs>
        </svg> 
    </button>

    <!-- preload -->
    <div class="preload preload-container">
        <div class="preload-logo">
            <div class="spinner"></div>
        </div>
    </div>
    <!-- /preload -->

    <!-- #wrapper -->
    <div id="wrapper">

       <!-- Header -->
       <%- include('partials/header') %>
       <!-- /Header -->

        <!-- page-title -->
        <div class="page-title" style="background-image: url(images/section/page-title.jpg);">
            <div class="container-full">
                <div class="row">
                    <div class="col-12">
                        <h3 class="heading text-center">Mon compte Facylis</h3>
                        <ul class="breadcrumbs d-flex align-items-center justify-content-center">
                            <li>
                                <a class="link" href="/">Boutique</a>
                            </li>
                            <li>
                                <i class="icon-arrRight"></i>
                            </li>
                            <li>
                                Mon compte
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page-title -->

        <div class="btn-sidebar-account">
            <button data-bs-toggle="offcanvas" data-bs-target="#mbAccount"><i class="icon icon-squares-four"></i></button>
        </div>

        <!-- my-account -->
        <section class="flat-spacing">
            <div class="container">
                <div class="my-account-wrap">
                    <div class="wrap-sidebar-account">
                        <%- include('partials/account-menu') %>
                    </div>
                    <div class="my-account-content">
                        <div class="account-details">
                            <% if (message!=null) { %>
                            <div class="alert alert-secondary" role="alert">
                                <%= message %>
                              </div>
                              <% } %>
                            <form action="/update-account" class="form-account-details form-has-password" enctype="multipart/form-data" method="POST">
                                <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                                <div class="account-info">
                                    <h5 class="title">Information</h5>
                                    <div class="cols mb_20">
                                        <fieldset class="">
                                            <label>Prénom <span class="required text-danger">*</span></label>
                                            <input class="" type="text" placeholder="Prénom *" name="firstName" id="firstName" tabindex="2" value="<%=user.firstName%>" aria-required="true" required>
                                        </fieldset>
                                        <fieldset class="">
                                            <label>Nom <span class="required text-danger">*</span></label>
                                            <input class="" type="text" placeholder="Nom *" name="lastName" id="lastName" tabindex="2" value="<%=user.lastName%>" aria-required="true" required>
                                        </fieldset>
                                    </div>
                                    <div class="cols mb_20">
                                        <fieldset class="">
                                            <label>Société <span class="required text-danger">*</span></label>
                                            <input class="" type="text" placeholder="Nom société *" name="companyName" id="companyName" tabindex="2" value="<%=user.companyName%>" aria-required="true" required>
                                        </fieldset>
                                        <fieldset class="">
                                            <label>Siret <span class="required text-danger">*</span></label>
                                            <input class="" type="text" placeholder="Siret *" name="siret" id="siret" tabindex="2" value="<%=user.siret%>" aria-required="true" required>
                                        </fieldset>
                                    </div>
                                    <div class="cols mb_20">
                                        <fieldset class="">
                                            <label>Email <span class="required text-danger">*</span></label>
                                            <input class="" type="email" placeholder="Email *" name="email" id="email" tabindex="2" value="<%=user.email%>" aria-required="true" required>
                                        </fieldset>
                                        <fieldset class="">
                                            <label>Téléphone <span class="required text-danger">*</span></label>
                                            <input class="" type="text" placeholder="Téléphone *" name="phone" id="phone" tabindex="2" value="<%=user.phone%>" aria-required="true" required>
                                        </fieldset>
                                    </div>
                                    <div class="cols mb_20">
                                        <fieldset class="">
                                              <label>Adresse </label>
                                              <input class="" type="text" placeholder="Adresse *" name="addressclient" id="addressclient" tabindex="2" value="<%=user.addressclient%>" aria-required="true" required>
                                        </fieldset>
                                    </div>
                                    <div class="cols mb_20">
                                        <fieldset class="">
                                              <label>Logo</label>
                                            <input class="form-control square" name="filelogo" id="filelogo" type="file" accept=".png,.jpg,.jpeg,image/png,image/jpeg" />
                                            <input type="hidden" name="imagelogo" id="imagelogo" value="<%=user.logo%>" />
                                        </fieldset>
                                    </div>
                                    
                                </div>
                                <div class="account-password">
                                    <h5 class="title">Changer de mot de passe</h5>
                                    <fieldset class="position-relative password-item mb_20">
                                        <label>Nouveau mot de passe</label>
                                        <input class="input-password" type="password" placeholder="Nouveau mot de passe" name="password" id="password" tabindex="2">
                                        <span class="toggle-password unshow">
                                            <i class="icon-eye-hide-line"></i>
                                        </span>
                                    </fieldset>
                                    <fieldset class="position-relative password-item">
                                        <label>Confirmer le mot de passe </label>
                                        <input class="input-password" type="password" placeholder="Confirmer le mot de passe" name="passwordConfirm" id="passwordConfirm" tabindex="2">
                                        <span class="toggle-password unshow">
                                            <i class="icon-eye-hide-line"></i>
                                        </span>
                                    </fieldset>
                                </div>
                                <div class="button-submit">
                                    <button class="tf-btn btn-fill" type="submit">
                                        <span class="text text-button">Sauvegarder</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /my-account -->
            <!-- Footer -->
            <%- include('partials/footer') %>
                <!-- /Footer -->
    </div>

    <!-- mobile menu -->
    <%- include('partials/mobile-menu') %>
        <!-- /mobile menu -->

        <!-- Javascript -->
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/swiper-bundle.min.js"></script>
        <script type="text/javascript" src="/js/carousel.js"></script>
        <script type="text/javascript" src="/js/bootstrap-select.min.js"></script>
        <script type="text/javascript" src="/js/lazysize.min.js"></script>
        <script type="text/javascript" src="/js/count-down.js"></script>
        <script type="text/javascript" src="/js/wow.min.js"></script>
        <script type="text/javascript" src="/js/multiple-modal.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>