<!DOCTYPE html>

<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">

    <title>Boutique Facilys | Se connecter</title>
    <meta name="author" content="FilleuxStudio">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Se connecter">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font -->
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" href="/fonts/font-icons.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/sib-styles.css">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Favicon and Touch Icons  -->
    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/favicon.png">

</head>

<body class="preload-wrapper">

    <!-- #wrapper -->
    <div id="wrapper">

        <!-- RTL -->
        <a href="javascript:void(0);" id="toggle-rtl" class="btn-style-2 radius-3"><span>RTL</span></a>
        <!-- /RTL  -->

        <!-- Scroll Top -->
        <button id="scroll-top">
            <svg width="24" height="25" viewbox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_15741_24194)">
                    <path
                        d="M3 11.9175L12 2.91748L21 11.9175H16.5V20.1675C16.5 20.3664 16.421 20.5572 16.2803 20.6978C16.1397 20.8385 15.9489 20.9175 15.75 20.9175H8.25C8.05109 20.9175 7.86032 20.8385 7.71967 20.6978C7.57902 20.5572 7.5 20.3664 7.5 20.1675V11.9175H3Z"
                        stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
                <defs>
                    <clippath id="clip0_15741_24194">
                        <rect width="24" height="24" fill="white" transform="translate(0 0.66748)"></rect>
                    </clippath>
                </defs>
            </svg>
        </button>

        <!-- preload -->
        <div class="preload preload-container">
            <div class="preload-logo">
                <div class="spinner"></div>
            </div>
        </div>
        <!-- /preload -->

        <!-- #wrapper -->
        <div id="wrapper">

            <!-- Header -->
            <%- include('partials/header') %>
                <!-- /Header -->

                <!-- page-title -->
                <div class="page-title" style="background-image: url(/images/section/page-title.jpg);">
                    <div class="container-full">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="heading text-center">Se connecter au portail</h3>
                                <ul class="breadcrumbs d-flex align-items-center justify-content-center">
                                    <li>
                                        <a class="link" href="/">Boutique</a>
                                    </li>
                                    <li>
                                        <i class="icon-arrRight"></i>
                                    </li>
                                    <li>
                                        Se connecter
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /page-title -->

                <!-- login -->
                <section class="flat-spacing">
                    <div class="container">
                        <div class="login-wrap">
                            <div class="left">
                                <div class="heading">
                                    <h4>Connection</h4>
                                    <p class="text-danger text-center"><%= message %></p>
                                </div>
                                <form method="POST" action="/login" class="form-login form-has-password">
                                    <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                                    <div class="wrap">
                                        <fieldset class="">
                                            <input class="" type="email" placeholder="Email *"
                                                name="email" id="email" tabindex="2" aria-required="true" required="" value="dimitri@gmail.com">
                                        </fieldset>
                                        <fieldset class="position-relative password-item">
                                            <input class="input-password" type="password" placeholder="Mot de passe *"
                                                name="password" id="password" tabindex="2" aria-required="true" required="" value="s43^mat>fQ5fcjs">
                                            <span class="toggle-password unshow">
                                                <i class="icon-eye-hide-line"></i>
                                            </span>
                                        </fieldset>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="tf-cart-checkbox">
                                                <div class="tf-checkbox-wrapp">
                                                    <input checked="" class="" type="checkbox" id="rememberMe"
                                                        name="rememberMe">
                                                    <div>
                                                        <i class="icon-check"></i>
                                                    </div>
                                                </div>
                                                <label for="rememberMe">
                                                    Se souvenir de moi
                                                </label>
                                            </div>
                                            <a href="/forget-password"
                                                class="font-2 text-button forget-password link">Vous avez oublié votre Mot de passe?</a>
                                        </div>
                                    </div>
                                    <div class="button-submit">
                                        <button class="tf-btn btn-fill" type="submit">
                                            <span class="text text-button">Valider</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="right">
                                <h4 class="mb_8">Nouveau client ?</h4>
                                <p class="text-secondary">Rejoignez la communauté Facylis et découvrez une nouvelle façon de gérer votre garage. Bénéficiez d'un essai gratuit, d'un support dédié et d'une solution adaptée à vos besoins.</p>
                                <a href="/register" class="tf-btn btn-fill"><span class="text text-button">S'inscrire</span></a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /login -->

                <!-- Footer -->
                <%- include('partials/footer') %>
                    <!-- /Footer -->
        </div>

        <!-- mobile menu -->
        <%- include('partials/mobile-menu') %>
            <!-- /mobile menu -->

            <!-- Javascript -->
            <script type="text/javascript" src="/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="/js/jquery.min.js"></script>
            <script type="text/javascript" src="/js/bootstrap-select.min.js"></script>
            <script type="text/javascript" src="/js/lazysize.min.js"></script>
            <script type="text/javascript" src="/js/wow.min.js"></script>
            <script type="text/javascript" src="/js/count-down.js"></script>
            <script type="text/javascript" src="/js/swiper-bundle.min.js"></script>
            <script type="text/javascript" src="/js/carousel.js"></script>
            <script type="text/javascript" src="/js/multiple-modal.js"></script>
            <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>