
<!DOCTYPE html>

<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8">
    <title>Boutique Facilys | Mes produits</title>
    <meta name="author" content="FilleuxStudio">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="mon compte, mes produits">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font -->
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" href="/fonts/font-icons.css">
    <link rel="stylesheet" href="/fonts/font-icons2.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/sib-styles.css">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Favicon and Touch Icons  -->
    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/favicon.png">

</head>

<body class="preload-wrapper">
   
    <!-- RTL -->
    <a href="javascript:void(0);" id="toggle-rtl" class="btn-style-2 radius-3"><span>RTL</span></a>
    <!-- /RTL  -->
    
    <!-- Scroll Top -->
    <button id="scroll-top">
        <svg width="24" height="25" viewbox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_15741_24194)">
            <path d="M3 11.9175L12 2.91748L21 11.9175H16.5V20.1675C16.5 20.3664 16.421 20.5572 16.2803 20.6978C16.1397 20.8385 15.9489 20.9175 15.75 20.9175H8.25C8.05109 20.9175 7.86032 20.8385 7.71967 20.6978C7.57902 20.5572 7.5 20.3664 7.5 20.1675V11.9175H3Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
            <defs>
            <clippath id="clip0_15741_24194">
            <rect width="24" height="24" fill="white" transform="translate(0 0.66748)"></rect>
            </clippath>
            </defs>
        </svg> 
    </button>

    <!-- preload -->
    <div class="preload preload-container">
        <div class="preload-logo">
            <div class="spinner"></div>
        </div>
    </div>
    <!-- /preload -->

    <!-- #wrapper -->
    <div id="wrapper">

         <!-- Header -->
       <%- include('partials/header') %>
       <!-- /Header -->


        <!-- page-title -->
        <div class="page-title" style="background-image: url(images/section/page-title.jpg);">
            <div class="container-full">
                <div class="row">
                    <div class="col-12">
                        <h3 class="heading text-center">Mon compte Facylis</h3>
                        <ul class="breadcrumbs d-flex align-items-center justify-content-center">
                            <li>
                                <a class="link" href="/">Boutique</a>
                            </li>
                            <li>
                                <i class="icon-arrRight"></i>
                            </li>
                            <li>
                                Mes produits
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page-title -->

        <div class="btn-sidebar-account">
            <button data-bs-toggle="offcanvas" data-bs-target="#mbAccount"><i class="icon icon-squares-four"></i></button>
        </div>

        <!-- my-account -->
        <section class="flat-spacing">
            <div class="container">
                <div class="my-account-wrap">
                    <div class="wrap-sidebar-account">
                        <%- include('partials/account-menu') %>
                    </div>
                    <div class="my-account-content">
                        <div class="account-orders">
                            <div class="wrap-account-order">
                                <button class="btn btn-success mb-4" data-bs-toggle="modal" data-bs-target="#AddProductModal">Ajouter</button>
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="fw-6">Logiciel</th>
                                            <th class="fw-6">Date d'ajout</th>
                                            <th class="fw-6">Prix de vente</th>
                                            <th class="fw-6">prix</th>
                                            <th class="fw-6">type</th>
                                            <th class="fw-6">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (Products && Products.length > 0) { %>
                                            <% Products.forEach(function(product) { %>
                                            <tr class="tf-order-item">
                                                <td><%= product.subtitle %></td>
                                                <td><%= new Date(product.dateAdded).toLocaleDateString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit' }) %></td>
                                                <td><%= product.price %> €</td>
                                                <td><%= product.oldPrice %> €</td>
                                                <td><%= product.type %></td>
                                                <td class="text-center">
                                                    <a  href="/manager-deleteproduct/<%= product.id %>" data-id="<%= product.id %>" class="text-danger"><i class="icon-bin"></i></a>
                                                    <a data-bs-toggle="modal" data-bs-target="#EditProductModal" OpenModelEdit data-id="<%= product.id %>" class="text-yellow ml-3"><i class="icon-pencil"></i></a>
                                                </td>
                                            </tr>
                                            <% }); %>
                                        <% } else { %>
                                            <tr>
                                                <td colspan="6">Aucun produit trouvé</td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /my-account -->

        <!-- Modal Add -->
        <div class="modal fade" id="AddProductModal" tabindex="-1" aria-labelledby="AddProductModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">Ajouter un produit</h5>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                     <form method="POST" enctype="multipart/form-data" id="formAddproduct" action="/manager-addproduct">
                        <div class="row">
                           <div class="form-group col-md-12">
                            <fieldset>
                                <label>Titre <span class="required text-danger">*</span></label>
                                <input required class="" name="title" id="title" type="text">
                            </fieldset>
                           </div>
                           <div class="form-group col-md-12 mt-2">
                            <fieldset>
                              <label>Sous-titre <span class="required text-danger">*</span></label>
                              <input required class="" name="subtitle" id="subtitle" type="text">
                            </fieldset>
                           </div>
                           <div class="form-group col-md-12 mt-2">
                        <fieldset>
                              <label>Image</span></label>
                              <input class="form-control" name="pictureProduct" id="pictureProduct" type="file">
                            </fieldset>
                           </div>
                           <div class="form-group col-md-6 mt-2">
                            <fieldset>
                              <label>Prix officiel <span class="required text-danger">*</span></label>
                              <input required class="" name="price" id="price" type="number">
                            </fieldset>
                           </div>
                           <div class="form-group col-md-6 mt-2">
                            <fieldset>
                              <label>Prix de réduction</label>
                              <input class="" name="oldPrice" id="oldPrice" type="number">
                            </fieldset>
                           </div>
                           <div class="form-group col-md-12 mt-2">
                            <fieldset>
                              <label>Avis</label>
                              <input  class="" name="advice" id="advice" type="text">
                            </fieldset>
                           </div>
                           <div class="form-group col-md-12 mt-2">
                            <fieldset>
                              <label>Type <span class="required text-danger">*</span></label>
                              <select class="form-select" aria-label="Default select example" id="type" name="type">
                                 <option value="Monthly">Mensuel</option>
                                 <option value="annually">Annuel</option>
                                 <option value="Unlimited">Illimité</option>
                                 <option value="Free">Gratuit</option>
                                 <option value="FreeLimited">Gratuit Limité</option>
                              </select>
                            </fieldset>
                           </div>
                           <div class="form-group col-md-12 mt-2">
                            <fieldset>
                              <label>Couleur badge <span class="required text-danger">*</span></label>
                              <input required class="" name="colorBadge" id="colorBadge" type="color">
                            </fieldset>
                           </div>
                           <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>" />
                           <div class="col-md-12 mt-3">
                              <button type="submit" class="btn btn-success" name="submit" value="Submit">Valider</button>
                           </div>
                        </div>
                     </form>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                  </div>
               </div>
            </div>
         </div>

          <!-- Modal Edit -->
        <div class="modal fade" id="EditProductModal" tabindex="-1" aria-labelledby="EditProductModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">Modifier un produit</h5>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                     <form method="POST" enctype="multipart/form-data" id="formAddproduct" action="/manager-editproduct">
                        <div class="row">
                           <div class="form-group col-md-12">
                            <fieldset>
                                <label>Titre <span class="required text-danger">*</span></label>
                                <input required class="" name="editProductTitle" id="editProductTitle" type="text">
                            </fieldset>
                           </div>
                           <div class="form-group col-md-12 mt-2">
                            <fieldset>
                              <label>Sous-titre <span class="required text-danger">*</span></label>
                              <input required class="" name="editProductSubtitle" id="editProductSubtitle" type="text">
                            </fieldset>
                           </div>
                           <div class="form-group col-md-12 mt-2">
                        <fieldset>
                              <label>Image</span></label>
                              <input class="form-control" name="pictureProductEdit" id="pictureProductEdit" type="file">
                            </fieldset>
                           </div>
                           <div class="form-group col-md-6 mt-2">
                            <fieldset>
                              <label>Prix officiel <span class="required text-danger">*</span></label>
                              <input required class="" name="editProductPrice" id="editProductPrice" type="number">
                            </fieldset>
                           </div>
                           <div class="form-group col-md-6 mt-2">
                            <fieldset>
                              <label>Prix de réduction</label>
                              <input class="" name="editProductOldPrice" id="editProductOldPrice" type="number">
                            </fieldset>
                           </div>
                           <div class="form-group col-md-12 mt-2">
                            <fieldset>
                              <label>Avis</label>
                              <input  class="" name="editProductAdvice" id="editProductAdvice" type="text">
                            </fieldset>
                           </div>
                           <div class="form-group col-md-12 mt-2">
                            <fieldset>
                              <label>Type <span class="required text-danger">*</span></label>
                              <select class="form-select" aria-label="Default select example" id="editProductType" name="editProductType">
                                 <option value="Monthly">Mensuel</option>
                                 <option value="annually">Annuel</option>
                                 <option value="Unlimited">Illimité</option>
                                 <option value="Free">Gratuit</option>
                                 <option value="FreeLimited">Gratuit Limité</option>
                              </select>
                            </fieldset>
                           </div>
                           <div class="form-group col-md-12 mt-2">
                            <fieldset>
                              <label>Couleur badge <span class="required text-danger">*</span></label>
                              <input required class="" name="editProductColorBadge" id="editProductColorBadge" type="color">
                            </fieldset>
                           </div>
                           <input type="hidden" name="editProductId" id="editProductId" />
                           <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>" />
                           <div class="col-md-12 mt-3">
                              <button type="submit" class="btn btn-warning" name="submit" value="Submit">Modifier</button>
                           </div>
                        </div>
                     </form>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                  </div>
               </div>
            </div>
         </div>
  <!-- Footer -->
  <%- include('partials/footer') %>
  <!-- /Footer -->
</div>

<!-- mobile menu -->
<%- include('partials/mobile-menu') %>
<!-- /mobile menu -->

<!-- Javascript -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/js/carousel.js"></script>
<script type="text/javascript" src="/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/js/lazysize.min.js"></script>
<script type="text/javascript" src="/js/count-down.js"></script>
<script type="text/javascript" src="/js/wow.min.js"></script>
<script type="text/javascript" src="/js/multiple-modal.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/product-form.js"></script>
</body>

</html>