@page "/editionInvoices"
@rendermode InteractiveServer
@inject PageTitleService PageTitleService
@inject ApplicationDbContext DbContext
@inject IJSRuntime JSRuntime
@inject ILogger<EditionInvoice> Logger

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Edition de factures & Ordre de réparations</h4>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end card-header-->
            <div class="card-body pt-0">
                <ul class="nav nav-pills nav-justified mb-1 pb-1 border-dashed-bottom">
                    <li class="nav-item waves-effect waves-light">
                        <NavLink class="nav-link active" href="/editionInvoices">Edition</NavLink>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <NavLink class="nav-link" href="/managerInvoices">Gestion des factures</NavLink>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <NavLink class="nav-link" href="/settingInvoices">Paramètres</NavLink>
                    </li>
                </ul>
            </div>
        </div>

        @if (managerInvoiceViewModel.Edition == null){
            <div class="alert alert-warning shadow-sm border-theme-white-2" role="alert">
                <div class="d-inline-flex justify-content-center align-items-center thumb-xs bg-warning rounded-circle mx-auto me-1">
                    <i class="fas fa-exclamation align-self-center mb-0 text-white "></i>
                </div>
                Les paramètres de facturation n'ont pas été renseignés. Veuillez vous rendre dans l'onglet 'Paramètres' pour remplir les informations obligatoires.
            </div>
        }
       
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                <div class="card-body pt-0">
                <div class="row mt-3">
                    <div class="col-4 align-self-center">
                        <img src="@managerInvoiceViewModel.CompanySettings.Logo" alt="logo company" class="logo-sm me-1" height="70">
                    </div><!--end col-->
                    <div class="col-8 text-end align-self-center">
                        <h5 class="mb-1 fw-semibold text-black"><span class="text-muted">Facture N° :</span> @invoiceNumber</h5>
                        <h5 class="mb-0 fw-semibold text-black"><span class="text-muted">Date :</span> @DateTime.Now.Date.ToShortDateString()</h5>
                    </div><!--end col-->
                </div>
                </div>
                </div>
            </div> <!--end col-->
        </div><!--end row-->

        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4 class="card-title">Huebee Color</h4>
                            </div><!--end col-->
                        </div>  <!--end row-->
                    </div><!--end card-header-->
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-md-4">
                                <InputText @bind-value="searchClient" placeholder="Rechercher..." class="form-control" />
                                <InputSelect @bind-Value="selectedValueClient" class="form-select">
                                    @foreach (var item in managerInvoiceViewModel.ClientItems)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </InputSelect>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!--end card-body-->
                </div><!--end card-->
            </div> <!--end col-->
            <div class="col-md-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4 class="card-title">Custom Touch Spin</h4>
                            </div><!--end col-->
                        </div>  <!--end row-->
                    </div><!--end card-header-->
                    <div class="card-body pt-0">
                        <div class="col-md-4">
                            <InputText @bind-value="searchVehicle" placeholder="Rechercher..." class="form-control" />
                            <InputSelect @bind-Value="selectedValueVehicle" class="form-select">
                                @foreach (var item in managerInvoiceViewModel.VehicleItems)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </InputSelect>
                        </div><!-- end col -->
                    </div><!--end card-body-->
                </div><!--end card-->
            </div> <!--end col-->
        </div><!--end row-->
    </div> <!-- end col -->
</div> <!-- end row -->
