@page "/managerClients"
@rendermode InteractiveServer
@inject PageTitleService PageTitleService
@inject IJSRuntime JSRuntime
@inject ILogger<ManagerClients> Logger
@inject UserConnectionService UserConnection
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Liste des clients</h4>
                    </div><!--end col-->
                    <div class="col-auto">
                        <button type="button" @onclick="@(() => OpenModal("OpenModalLargeAddClient"))" class="btn bg-primary-subtle text-primary"><i class="fas fa-plus me-1"></i> Ajotuer un client</button>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end card-header-->
            <div class="card-body pt-0">
                <div class="table-responsive">
                    <table class="table mb-0" id="datatable_1">
                        <thead class="table-light">
                            <tr>
                                <th>Nom / N° Siret</th>
                                <th>Prénom / Nom d'entreprise</th>
                                <th>Véhicules</th>
                                <th>Téléphone</th>
                                <th>Statut</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var client in managerClienViewtLists)
                            {
                                <tr>
                                    <td class="d-flex align-items-center">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-grow-1 text-truncate">
                                                <h6 class="m-0">@client.Client.Lname</h6>
                                                <a href="#!" @onclick="@(() => OpenGoogleMaps(client.Client.Address + " " + client.Client.PostalCode + " " + client.Client.City))" class="fs-12 text-primary">@client.Client.Address @client.Client.PostalCode @client.Client.City</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@client.Client.Fname</td>
                                    <td><button type="button" @onclick="@(() => OpenModalDataVehicle("OpenModaInfoVehicles", client.Client.Id))" class="btn text-body text-decoration-underline">Véhicules <span class="badge rounded text-success bg-success-subtle">@client.Vehicles.Where(c => c.Client.Id == client.Client.Id).Count()</span></button></td>
                                    <td>@(client.PhonesClients.FirstOrDefault(c => c.Client.Id == client.Client.Id)?.Phone ?? "N/A")</td>
                                    <td><span class="badge rounded text-success bg-success-subtle">Active</span></td>
                                    <td class="text-end">
                                        <button type="button" @onclick="@(() => OpenModalData("OpenModalLargeEditClient", client.Client.Id))" class="btn btn-sm bg-warning-subtle text-warning"><i class="las la-pen text-warning fs-18"></i></button>
                                        <button type="button" @onclick="@(() => OpenModalData("OpenModalLargeDeleteClient", client.Client.Id))" class="btn btn-sm bg-danger-subtle text-danger"><i class="las la-trash-alt text-danger fs-18"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

<div class="@modalManager.GetModal("OpenModalLargeAddClient")?.ModalClass" id="OpenModalLargeAddClient" tabindex="-1" role="dialog" aria-labelledby="OpenModalLargeAddClientLabel" style="@modalManager.GetModal("OpenModalLargeAddClient")?.ModalDisplay" aria-hidden="@modalManager.GetModal("OpenModalLargeAddClient")?.AriaHidden">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0" id="OpenModalLargeAddClientLabel">Ajouter un clients</h6>
                <button type="button" class="btn-close" @onclick="@(() => CloseModal("OpenModalLargeAddClient"))"></button>
            </div><!--end modal-header-->
            <div class="modal-body">
                <EditForm class="" Model="@managerClientViewModel.Client" OnValidSubmit="SubmitAddClient" FormName="AddClientForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Lname" class="form-label">Nom / N° Siret <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="Lname" @bind-Value="managerClientViewModel.Client.Lname" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="Fname">Prénom / Nom d'entreprise <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="Fanme" @bind-Value="managerClientViewModel.Client.Fname" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="Address" class="form-label">Adresse <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="Address" @bind-Value="managerClientViewModel.Client.Address" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="city">Ville <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="useremail" @bind-Value="managerClientViewModel.Client.City" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="PostalCode">Code Postal <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="PostalCode" @bind-Value="managerClientViewModel.Client.PostalCode" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label" for="Type">Type de client <span class="text-danger">*</span></label>
                                <InputSelect class="form-select" id="Type" @bind-Value="managerClientViewModel.Client.Type">
                                    <option value="">Sélectionnez un type</option>
                                    <option value="@TypeClient.Client">Client</option>
                                    <option value="@TypeClient.ClientProfessional">Client professionnel</option>
                                </InputSelect>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="Phone" class="form-label">Téléphone <span class="text-danger">*</span></label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="Phone" @bind-value="currentPhone" @onkeyup="HandleKeyUpPhone" aria-describedby="button-addon1" />
                                <button class="btn btn-outline-success" type="button" @onclick="AddPhone" id="button-addon1">+</button>
                            </div>
                            <div class="mb-3">
                                <label for="phoneList" class="form-label">Liste des numéros</label>
                                <select id="phoneList" class="form-select" size="3" multiple>
                                    @foreach (var phone in managerClientViewModel.PhonesClients)
                                    {
                                        <option value="@phone.Phone">@phone.Phone</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="email">Email <span class="text-warning">*</span></label>
                                <div class="input-group mb-3">
                                    <input type="email" class="form-control" id="email" @bind-value="currentEmail" @onkeyup="HandleKeyUpEmail" aria-describedby="button-addon2" />
                                    <button class="btn btn-outline-secondary" type="button" @onclick="AddEmail" id="button-addon2">+</button>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="emailList" class="form-label">Liste des emails</label>
                                <select id="emailList" class="form-select" size="3" multiple>
                                    @foreach (var email in managerClientViewModel.EmailsClients)
                                    {
                                        <option value="@email.Email">@email.Email</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label" for="AdditionalInformation">Informations complémentaires</label>
                                <InputTextArea class="form-control" rows="5" id="AdditionalInformation" @bind-Value="managerClientViewModel.Client.AdditionalInformation"></InputTextArea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-end">
                            <button @onclick="AddCustomerAndVehicle" class="btn btn-primary px-4">Ajouter et passer au véhicule</button>
                            <button type="submit" class="btn btn-primary px-4">Ajouter</button>
                        </div>
                    </div>
                </EditForm>
            </div><!--end modal-body-->
        </div><!--end modal-content-->
    </div><!--end modal-dialog-->
</div><!--end modal-->

<div class="@modalManager.GetModal("OpenModalLargeEditClient")?.ModalClass" id="OpenModalLargeEditClient" tabindex="-1" role="dialog" aria-labelledby="OpenModalLargeEditClientLabel" style="@modalManager.GetModal("OpenModalLargeEditClient")?.ModalDisplay" aria-hidden="@modalManager.GetModal("OpenModalLargeEditClient")?.AriaHidden">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0" id="OpenModalLargeEditClientLabel">Modifier un clients</h6>
                <button type="button" class="btn-close" @onclick="@(() => CloseModal("OpenModalLargeEditClient"))"></button>
            </div><!--end modal-header-->
            <div class="modal-body">
                <EditForm class="" Model="@managerClientViewModel.Client" OnValidSubmit="SubmitEditClient" FormName="EditClientForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Lname" class="form-label">Nom / N° Siret <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="Lname" @bind-Value="managerClientViewModel.Client.Lname" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="Fname">Prénom / Nom d'entreprise <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="Fanme" @bind-Value="managerClientViewModel.Client.Fname" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="Address" class="form-label">Adresse <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="Address" @bind-Value="managerClientViewModel.Client.Address" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="city">Ville <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="city" @bind-Value="managerClientViewModel.Client.City" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="PostalCode">Code Postal <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="PostalCode" @bind-Value="managerClientViewModel.Client.PostalCode" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label" for="Type">Type de client <span class="text-danger">*</span></label>
                                <InputSelect class="form-select" id="Type" @bind-Value="managerClientViewModel.Client.Type">
                                    <option value="">Sélectionnez un type</option>
                                    <option value="@TypeClient.Client">Client</option>
                                    <option value="@TypeClient.ClientProfessional">Client professionnel</option>
                                </InputSelect>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="Phone" class="form-label">Téléphone <span class="text-danger">*</span></label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="Phone" @bind-value="currentPhone" @onkeyup="HandleKeyUpPhone" aria-describedby="button-addon1" />
                                <button class="btn btn-outline-success" type="button" @onclick="AddPhone" id="button-addon1">+</button>
                            </div>
                            <div class="mb-3">
                                <label for="phoneList" class="form-label">Liste des numéros</label>
                                <select id="phoneList" class="form-select" size="3" multiple @onchange="HandlePhoneSelection" @onkeydown="HandleKeyDownPhone">
                                    @foreach (var phone in managerClientViewModel.PhonesClients)
                                    {
                                        <option value="@phone.Phone">@phone.Phone</option>
                                    }
                                </select>
                                <button class="btn btn-sm btn-outline-danger" type="button" @onclick="RemoveSelectedPhones">Supprimer</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="email">Email <span class="text-warning">*</span></label>
                                <div class="input-group mb-3">
                                    <input type="email" class="form-control" id="email" @bind-value="currentEmail" @onkeyup="HandleKeyUpEmail" aria-describedby="button-addon2" />
                                    <button class="btn btn-outline-secondary" type="button" @onclick="AddEmail" id="button-addon2">+</button>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="emailList" class="form-label">Liste des emails</label>
                                <select id="emailList" class="form-select" size="3" multiple @onchange="HandleEmailSelection" @onkeydown="HandleKeyDownEmail">
                                    @foreach (var email in managerClientViewModel.EmailsClients)
                                    {
                                        <option value="@email.Email">@email.Email</option>
                                    }
                                </select>
                                <button class="btn btn-sm btn-outline-danger" type="button" @onclick="RemoveSelectedEmails">Supprimer</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label" for="AdditionalInformation">Informations complémentaires</label>
                                <InputTextArea class="form-control" rows="5" id="AdditionalInformation" @bind-Value="managerClientViewModel.Client.AdditionalInformation"></InputTextArea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-end">
                            <button type="submit" class="btn btn-warning px-4">Modifier</button>
                        </div>
                    </div>
                </EditForm>
            </div><!--end modal-body-->
        </div><!--end modal-content-->
    </div><!--end modal-dialog-->
</div><!--end modal-->

<div class="@modalManager.GetModal("OpenModalLargeDeleteClient")?.ModalClass" id="OpenModalLargeDeleteClient" tabindex="-1" role="dialog" aria-labelledby="OpenModalLargeDeleteClientLabel" style="@modalManager.GetModal("OpenModalLargeDeleteClient")?.ModalDisplay" aria-hidden="@modalManager.GetModal("OpenModalLargeDeleteClient")?.AriaHidden">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0" id="OpenModalLargeDeleteClientLabel">Supprimer un clients : @managerClientViewModel.Client.Lname @managerClientViewModel.Client.Fname</h6>
                <button type="button" class="btn-close" @onclick="@(() => CloseModal("OpenModalLargeDeleteClient"))"></button>
            </div><!--end modal-header-->
            <div class="modal-body">
                <EditForm class="" Model="@managerClientViewModel.Client" OnValidSubmit="SubmitDeleteClientAllData" FormName="DeleteClientAllDataForm">
                    <p class="text-center">Si vous cliquez ici, toutes les données appartenant à ce client seront effacées de manière irréversible.</p>
                    <div class="row mb-3">
                        <div class="col-sm-12 text-end">
                            <button type="submit" class="btn btn-danger px-4">Supprimer complètement</button>
                        </div>
                    </div>
                </EditForm>
                <br />
                <EditForm class="" Model="@managerClientViewModel.Client" OnValidSubmit="SubmitDeleteClient" FormName="DeleteClientForm">
                    <p class="text-center">Si vous cliquez ici, seul le client sera supprimé, mais ses données relatives aux véhicules seront conservées.</p>
                    <div class="row">
                        <div class="col-sm-12 text-end">
                            <button type="submit" class="btn btn-danger px-4">Supprimer</button>
                        </div>
                    </div>
                </EditForm>
            </div><!--end modal-body-->
        </div><!--end modal-content-->
    </div><!--end modal-dialog-->
</div><!--end modal-->

<div class="@modalManager.GetModal("OpenModalLargeAddVehicle")?.ModalClass" id="OpenModalLargeAddVehicle" tabindex="-1" role="dialog" aria-labelledby="OpenModalLargeAddVehicleLabel" style="@modalManager.GetModal("OpenModalLargeAddVehicle")?.ModalDisplay" aria-hidden="@modalManager.GetModal("OpenModalLargeAddVehicle")?.AriaHidden">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0" id="OpenModalLargeAddVehicleLabel">Ajouter un véhicule au client</h6>
                <button type="button" class="btn-close" @onclick="@(() => CloseModal("OpenModalLargeAddVehicle"))"></button>
            </div><!--end modal-header-->
            <div class="modal-body">
                <EditForm class="" Model="@managerClientViewModel.VehicleClient" OnValidSubmit="SubmitAddVehicleStepTow" FormName="AddVehicleForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Immatriculation" class="form-label">Immatriculation <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="Immatriculation" @bind-Value="managerClientViewModel.VehicleClient.Immatriculation" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="CirculationDate" class="form-label">Date 1er Immat <span class="text-danger">*</span></label>
                                <InputDate class="form-control" id="CirculationDate" @bind-Value="managerClientViewModel.VehicleClient.CirculationDate" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="Mark" class="form-label">Marque <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="Mark" @bind-Value="managerClientViewModel.VehicleClient.Mark" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="Model">Modèle <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="Model" @bind-Value="managerClientViewModel.VehicleClient.Model" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="Type">Type <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="Type" @bind-Value="managerClientViewModel.VehicleClient.Type" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="VIN">VIN <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="VIN" @bind-Value="managerClientViewModel.VehicleClient.VIN" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="KM">KM <span class="text-warning">*</span></label>
                                <InputNumber class="form-control" id="VIN" @bind-Value="managerClientViewModel.VehicleClient.KM" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label" for="AdditionalInformation">Informations complémentaires</label>
                                <InputTextArea class="form-control" rows="5" id="AdditionalInformation" @bind-Value="managerClientViewModel.VehicleClient.AdditionalInformation"></InputTextArea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-end">
                            <button type="submit" class="btn btn-primary px-4">Ajouter et terminer</button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div><!--end modal-->

<div class="@modalManager.GetModal("OpenModaInfoVehicles")?.ModalClass" id="OpenModaInfoVehicles" tabindex="-1" role="dialog" aria-labelledby="OpenModaInfoVehiclesLabel" style="@modalManager.GetModal("OpenModaInfoVehicles")?.ModalDisplay" aria-hidden="@modalManager.GetModal("OpenModaInfoVehicles")?.AriaHidden">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0" id="OpenModaInfoVehiclesLabel">Information des véhicules</h6>
                <button type="button" class="btn-close" @onclick="@(() => CloseModal("OpenModaInfoVehicles"))"></button>
            </div><!--end modal-header-->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <h5>Vehicules</h5>
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th>Immatriculation</th>
                                        <th>Marque</th>
                                        <th>Modèle</th>
                                        <th>VIN</th>
                                        <th>Km</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var v in managerClientViewModel.Vehicles)
                                    {
                                        <tr>
                                            <th scope="row">@v.Immatriculation</th>
                                            <td>@v.Mark</td>
                                            <td>@v.Model</td>
                                            <td>@v.VIN</td>
                                            <td>@v.KM</td>
                                        </tr>
                                    }
                                </tbody>
                            </table><!--end /table-->
                        </div>
                    </div><!--end col-->
                </div>
            </div>
        </div>
    </div>
</div><!--end modal-->
@if (modalManager.IsBackdropVisible)
{
    <div class="modal-backdrop fade show"></div>
}