@page "/managerVehicles"
@rendermode InteractiveServer
@inject PageTitleService PageTitleService
@inject IJSRuntime JSRuntime
@inject ILogger<ManagerVehicles> Logger
@inject VINDecoderService VINDecoder
@inject UserConnectionService UserConnection
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Liste des véhicules client</h4>
                    </div><!--end col-->
                    <div class="col-auto">
                        <button type="button" @onclick="@(() => OpenModal("OpenModalLargeAddOtherVehicle"))" class="btn bg-primary-subtle text-primary"><i class="fas fa-plus me-1"></i> Ajouter un type d'engin non immatriculé</button>
                        <button type="button" @onclick="@(() => OpenModal("OpenModalLargeAddVehicle"))" class="btn bg-primary-subtle text-primary"><i class="fas fa-plus me-1"></i> Ajotuer un véhicule</button>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end card-header-->
            <div class="card-body pt-0">
                <div class="table-responsive">
                    <table class="table mb-0" id="datatable_1">
                        <thead class="table-light">
                            <tr>
                                <th>Immatriculatuion / N° Serie</th>
                                <th>Marque</th>
                                <th>Modèle</th>
                                <th>Propriétaire</th>
                                <th>Historique</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var vehicle in managerVehicleViewLists)
                            {
                                <tr>
                                    <td class="d-flex align-items-center">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-grow-1 text-truncate">
                                                <h6 class="m-0">@vehicle.Vehicle.Immatriculation</h6>
                                                <a @onclick="@(() => OpenModalData("OpenModaSmallInfoVin", vehicle.Vehicle.VIN))" class="fs-12 text-primary" style="cursor: pointer;">@vehicle.Vehicle.VIN</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@vehicle.Vehicle.Mark</td>
                                    <td>@vehicle.Vehicle.Model</td>
                                    <td>@vehicle.Vehicle.Client.Lname @vehicle.Vehicle.Client.Fname</td>
                                    <td><span class="badge rounded text-success bg-success-subtle">Historique facture : @((vehicle?.Invoices?.Count ?? 0) > 0 ? vehicle.Invoices.Count.ToString() : "aucune") </span></td>
                                    <td class="text-end">
                                        <button type="button" @onclick="@(() => OpenModalData("OpenModalLargeEditVehicle", vehicle.Vehicle.Id))" class="btn btn-sm bg-warning-subtle text-warning"><i class="las la-pen text-warning fs-18"></i></button>
                                        <button type="button" @onclick="@(() => OpenModalData("OpenModalLargeDeleteVehicle", vehicle.Vehicle.Id))" class="btn btn-sm bg-danger-subtle text-danger"><i class="las la-trash-alt text-danger fs-18"></i></button>
                                    </td>
                                </tr>
                            }
                            
                            @foreach (var vehicleOther in managerOtherVehicleViewLists)
                            {
                                <tr>
                                    <td class="d-flex align-items-center">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-grow-1 text-truncate">
                                                <h6 class="m-0">@vehicleOther.OtherVehicle.SerialNumber</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@vehicleOther.OtherVehicle.Mark</td>
                                    <td>@vehicleOther.OtherVehicle.Model</td>
                                    <td>@vehicleOther.OtherVehicle.Client.Lname @vehicleOther.OtherVehicle.Client.Fname</td>
                                    <td><span class="badge rounded text-success bg-success-subtle">Historique facture : @((vehicleOther?.Invoices?.Count ?? 0) > 0 ? vehicleOther.Invoices.Count.ToString() : "aucune") </span></td>
                                    <td class="text-end">
                                        <button type="button" @onclick="@(() => OpenModalData("OpenModalLargeEditOtherVehicle", vehicleOther.OtherVehicle.Id))" class="btn btn-sm bg-warning-subtle text-warning"><i class="las la-pen text-warning fs-18"></i></button>
                                        <button type="button" @onclick="@(() => OpenModalData("OpenModalLargeDeleteOtherVehicle", vehicleOther.OtherVehicle.Id))" class="btn btn-sm bg-danger-subtle text-danger"><i class="las la-trash-alt text-danger fs-18"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

<div class="@modalManager.GetModal("OpenModalLargeAddVehicle")?.ModalClass" id="OpenModalLargeAddVehicle" tabindex="-1" role="dialog" aria-labelledby="OpenModalLargeAddVehicleLabel" style="@modalManager.GetModal("OpenModalLargeAddVehicle")?.ModalDisplay" aria-hidden="@modalManager.GetModal("OpenModalLargeAddVehicle")?.AriaHidden">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0" id="OpenModalLargeAddVehicleLabel">Ajouter un véhicule client</h6>
                <button type="button" class="btn-close" @onclick="@(() => CloseModal("OpenModalLargeAddVehicle"))"></button>
            </div><!--end modal-header-->
            <div class="modal-body">
                <EditForm class="" Model="@managerVehicleViewModel.Vehicle" OnValidSubmit="SubmitAddVehicle" FormName="AddVehicleForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Immatriculation" class="form-label">Immatriculation <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="Immatriculation" @bind-Value="managerVehicleViewModel.Vehicle.Immatriculation" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="CirculationDate" class="form-label">Date 1er Immat <span class="text-danger">*</span></label>
                                <InputDate class="form-control" id="CirculationDate" @bind-Value="managerVehicleViewModel.Vehicle.CirculationDate" required />
                            </div>
                        </div>
                    </div>
                   <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="Mark" class="form-label">Marque <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="Mark" @bind-Value="managerVehicleViewModel.Vehicle.Mark" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="Model">Modèle <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="Model" @bind-Value="managerVehicleViewModel.Vehicle.Model" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="Type">Type <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="Type" @bind-Value="managerVehicleViewModel.Vehicle.Type" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="VIN">VIN <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="VIN" @bind-Value="managerVehicleViewModel.Vehicle.VIN" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="KM">KM <span class="text-warning">*</span></label>
                                <InputNumber class="form-control" id="VIN" @bind-Value="managerVehicleViewModel.Vehicle.KM" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label" for="Clients">Propriétaire <span class="text-danger">*</span></label>
                                <InputSelect class="form-select" id="Clients" @bind-Value="selectClient">
                                    <option value="">Sélectionnez un Propiétaire</option>
                                    @foreach (var client in managerVehicleViewModel.Clients){
                                        <option value="@client.Id">@client.Lname @client.Fname</option>
                                    }
                                </InputSelect>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label" for="AdditionalInformation">Informations complémentaires</label>
                                <InputTextArea class="form-control" rows="5" id="AdditionalInformation" @bind-Value="managerVehicleViewModel.Vehicle.AdditionalInformation"></InputTextArea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-end">
                            @if (ViewRawOCRData == true)
                            {
                                <button type="button" @onclick="@(() => OpenModal("OpenModalDataOCR"))" class="btn btn-secondary me-2"><i class="fas fa-edit"></i></button>
                            }

                            <InputFile OnChange="@OnFileReadOcr" hidden id="fileInputOcr" accept="image/*" />
                            <button type="button" class="btn btn-secondary" onclick="document.getElementById('fileInputOcr').click(); return false;">Lecture OCR carte grise</button>

                            <button type="submit" class="btn btn-primary px-4">Ajouter</button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div><!--end modal-->
<div class="@modalManager.GetModal("OpenModaSmallInfoVin")?.ModalClass" id="OpenModaSmallInfoVin" tabindex="-1" role="dialog" aria-labelledby="OpenModaSmallInfoVinLabel" style="@modalManager.GetModal("OpenModaSmallInfoVin")?.ModalDisplay" aria-hidden="@modalManager.GetModal("OpenModaSmallInfoVin")?.AriaHidden">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0" id="OpenModaSmallInfoVinLabel">Information du VIN</h6>
                <button type="button" class="btn-close" @onclick="@(() => CloseModal("OpenModaSmallInfoVin"))"></button>
            </div><!--end modal-header-->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3 text-center align-self-center">
                        <img src="/assets/images/extra/card/info.png" alt="info" class="img-fluid">
                    </div><!--end col-->
                    <div class="col-lg-9">
                        <h5>Information VIN</h5>
                        @if(VinInfo != null){
                            <ul class="mt-2 mb-0">
                                <li>Constructeur :  @VinInfo.Manufacturer </li>
                                <li>Pays : @VinInfo.Country</li>
                                <li>Année de fabrication : @VinInfo.Year</li>
                                <li>Validité  : @VinInfo.ValidVIN</li>
                                <li>Année de fabrication : @VinInfo.Year</li>
                            </ul>
                        }
                       
                    </div><!--end col-->
                </div>
            </div>
        </div>
    </div>
</div><!--end modal-->

<div class="@modalManager.GetModal("OpenModalLargeEditVehicle")?.ModalClass" id="OpenModalLargeEditVehicle" tabindex="-1" role="dialog" aria-labelledby="OpenModalLargeEditVehicleLabel" style="@modalManager.GetModal("OpenModalLargeEditVehicle")?.ModalDisplay" aria-hidden="@modalManager.GetModal("OpenModalLargeEditVehicle")?.AriaHidden">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0" id="OpenModalLargeEditVehicleLabel">Modifier un véhicule</h6>
                <button type="button" class="btn-close" @onclick="@(() => CloseModal("OpenModalLargeEditVehicle"))"></button>
            </div><!--end modal-header-->
            <div class="modal-body">
                <EditForm class="" Model="@managerVehicleViewModel.Vehicle" OnValidSubmit="SubmitEditVehicle" FormName="EditVehicleForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Immatriculation" class="form-label">Immatriculation</label>
                                <InputText class="form-control" id="Immatriculation" @bind-Value="managerVehicleViewModel.Vehicle.Immatriculation" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="CirculationDate" class="form-label">Date 1er Immat <span class="text-danger">*</span></label>
                                <InputDate class="form-control" id="CirculationDate" @bind-Value="managerVehicleViewModel.Vehicle.CirculationDate" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="Mark" class="form-label">Marque <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="Mark" @bind-Value="managerVehicleViewModel.Vehicle.Mark" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="Model">Modèle <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="Model" @bind-Value="managerVehicleViewModel.Vehicle.Model" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="Type">Type <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="Type" @bind-Value="managerVehicleViewModel.Vehicle.Type" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="VIN">VIN <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="VIN" @bind-Value="managerVehicleViewModel.Vehicle.VIN" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="KM">KM <span class="text-warning">*</span></label>
                                <InputNumber class="form-control" id="VIN" @bind-Value="managerVehicleViewModel.Vehicle.KM" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label" for="Clients">Propriétaire <span class="text-danger">*</span></label>
                                <InputSelect class="form-select" id="Clients" @bind-Value="selectClient">
                                    @foreach (var client in managerVehicleViewModel.Clients)
                                    {
                                        <option value="@client.Id">@client.Lname @client.Fname</option>
                                    }
                                </InputSelect>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label" for="AdditionalInformation">Informations complémentaires</label>
                                <InputTextArea class="form-control" rows="5" id="AdditionalInformation" @bind-Value="managerVehicleViewModel.Vehicle.AdditionalInformation"></InputTextArea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-end">
                            <button type="submit" class="btn btn-warning px-4">Modifier</button>
                        </div>
                    </div>
                </EditForm>
            </div><!--end modal-body-->
        </div><!--end modal-content-->
    </div><!--end modal-dialog-->
</div><!--end modal-->

<div class="@modalManager.GetModal("OpenModalLargeDeleteVehicle")?.ModalClass" id="OpenModalLargeDeleteVehicle" tabindex="-1" role="dialog" aria-labelledby="OpenModalLargeDeleteVehicleLabel" style="@modalManager.GetModal("OpenModalLargeDeleteVehicle")?.ModalDisplay" aria-hidden="@modalManager.GetModal("OpenModalLargeDeleteVehicle")?.AriaHidden">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0" id="OpenModalLargeDeleteVehicleLabel">Supprimer un véhicule : @managerVehicleViewModel.Vehicle.Mark @managerVehicleViewModel.Vehicle.Immatriculation</h6>
                <button type="button" class="btn-close" @onclick="@(() => CloseModal("OpenModalLargeDeleteVehicle"))"></button>
            </div><!--end modal-header-->
            <div class="modal-body">
                <EditForm class="" Model="@managerVehicleViewModel.Vehicle" OnValidSubmit="SubmitDeleteVehicleAllData" FormName="DeleteVehicleAllDataForm">
                    <p class="text-center">Si vous cliquez ici, toutes les données appartenant à ce véhicule seront effacées de manière irréversible.</p>
                    <div class="row mb-3">
                        <div class="col-sm-12 text-end">
                            <button type="submit" class="btn btn-danger px-4">Supprimer complètement</button>
                        </div>
                    </div>
                </EditForm>
                <br />
                <EditForm class="" Model="@managerVehicleViewModel.Vehicle" OnValidSubmit="SubmitDeleteVehicle" FormName="DeleteVehicleForm">
                    <p class="text-center">Si vous cliquez ici, seul le véhicule aura l'attribution supprimée, mais ses données relatives au client et à la facture seront conservées.</p>
                    <div class="row">
                        <div class="col-sm-12 text-end">
                            <button type="submit" class="btn btn-danger px-4">Supprimer</button>
                        </div>
                    </div>
                </EditForm>
            </div><!--end modal-body-->
        </div><!--end modal-content-->
    </div><!--end modal-dialog-->
</div><!--end modal-->

<div class="@modalManager.GetModal("OpenModalLargeAddOtherVehicle")?.ModalClass" id="OpenModalLargeAddOtherVehicle" tabindex="-1" role="dialog" aria-labelledby="OpenModalLargeAddOtherVehicleLabel" style="@modalManager.GetModal("OpenModalLargeAddOtherVehicle")?.ModalDisplay" aria-hidden="@modalManager.GetModal("OpenModalLargeAddOtherVehicle")?.AriaHidden">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0" id="OpenModalLargeAddOtherVehicleLabel">Ajouter un engin à moteur</h6>
                <button type="button" class="btn-close" @onclick="@(() => CloseModal("OpenModalLargeAddOtherVehicle"))"></button>
            </div><!--end modal-header-->
            <div class="modal-body">
                <EditForm class="" Model="@managerVehicleViewModel.OtherVehicle" OnValidSubmit="SubmitAddOtherVehicle" FormName="AddVehicleOtherForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="SerialNumber" class="form-label">Numéro de serie <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="SerialNumber" @bind-Value="managerVehicleViewModel.OtherVehicle.SerialNumber" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Mark" class="form-label">Marque <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="Mark" @bind-Value="managerVehicleViewModel.OtherVehicle.Mark" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="Type">Type <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="Type" @bind-Value="managerVehicleViewModel.OtherVehicle.Type" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="Model">Modèle <span class="text-warning">*</span></label>
                                <InputText class="form-control" id="Model" @bind-Value="managerVehicleViewModel.OtherVehicle.Model" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label" for="Clients">Propriétaire <span class="text-danger">*</span></label>
                                <InputSelect class="form-select" id="Clients" @bind-Value="selectClient">
                                    <option value="">Sélectionnez un Propiétaire</option>
                                    @foreach (var client in managerVehicleViewModel.Clients)
                                    {
                                        <option value="@client.Id">@client.Lname @client.Fname</option>
                                    }
                                </InputSelect>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label" for="AdditionalInformation">Informations complémentaires</label>
                                <InputTextArea class="form-control" rows="5" id="AdditionalInformation" @bind-Value="managerVehicleViewModel.OtherVehicle.AdditionalInformation"></InputTextArea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-end">
                            <button type="submit" class="btn btn-primary px-4">Ajouter</button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div><!--end modal-->

<div class="@modalManager.GetModal("OpenModalLargeEditOtherVehicle")?.ModalClass" id="OpenModalLargeEditOtherVehicle" tabindex="-1" role="dialog" aria-labelledby="OpenModalLargeEditOtherVehicleLabel" style="@modalManager.GetModal("OpenModalLargeEditOtherVehicle")?.ModalDisplay" aria-hidden="@modalManager.GetModal("OpenModalLargeEditOtherVehicle")?.AriaHidden">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0" id="OpenModalLargeEditOtherVehicleLabel">Ajouter un engin à moteur</h6>
                <button type="button" class="btn-close" @onclick="@(() => CloseModal("OpenModalLargeEditOtherVehicle"))"></button>
            </div><!--end modal-header-->
            <div class="modal-body">
                <EditForm class="" Model="@managerVehicleViewModel.OtherVehicle" OnValidSubmit="SubmitEditOtherVehicle" FormName="EditVehicleOtherForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="SerialNumber" class="form-label">Numéro de serie <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="SerialNumber" @bind-Value="managerVehicleViewModel.OtherVehicle.SerialNumber" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Mark" class="form-label">Marque <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="Mark" @bind-Value="managerVehicleViewModel.OtherVehicle.Mark" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="Type">Type <span class="text-danger">*</span></label>
                                <InputText class="form-control" id="Type" @bind-Value="managerVehicleViewModel.OtherVehicle.Type" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="Model">Modèle <span class="text-warning">*</span></label>
                                <InputText class="form-control" id="Model" @bind-Value="managerVehicleViewModel.OtherVehicle.Model" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label" for="Clients">Propriétaire <span class="text-danger">*</span></label>
                                <InputSelect class="form-select" id="Clients" @bind-Value="selectClient">
                                    <option value="">Sélectionnez un Propiétaire</option>
                                    @foreach (var client in managerVehicleViewModel.Clients)
                                    {
                                        <option value="@client.Id">@client.Lname @client.Fname</option>
                                    }
                                </InputSelect>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label" for="AdditionalInformation">Informations complémentaires</label>
                                <InputTextArea class="form-control" rows="5" id="AdditionalInformation" @bind-Value="managerVehicleViewModel.OtherVehicle.AdditionalInformation"></InputTextArea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-end">
                            <button type="submit" class="btn btn-warning px-4">Modifier</button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div><!--end modal-->

<div class="@modalManager.GetModal("OpenModalLargeDeleteOtherVehicle")?.ModalClass" id="OpenModalLargeDeleteOtherVehicle" tabindex="-1" role="dialog" aria-labelledby="OpenModalLargeDeleteOtherVehicleLabel" style="@modalManager.GetModal("OpenModalLargeDeleteOtherVehicle")?.ModalDisplay" aria-hidden="@modalManager.GetModal("OpenModalLargeDeleteOtherVehicle")?.AriaHidden">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0" id="OpenModalLargeDeleteOtherVehicleLabel">Supprimer un véhicule : @managerVehicleViewModel.Vehicle.Mark @managerVehicleViewModel.Vehicle.Immatriculation</h6>
                <button type="button" class="btn-close" @onclick="@(() => CloseModal("OpenModalLargeDeleteOtherVehicle"))"></button>
            </div><!--end modal-header-->
            <div class="modal-body">
                <EditForm class="" Model="@managerVehicleViewModel.OtherVehicle" OnValidSubmit="SubmitDeleteOtherVehicleAllData" FormName="DeleteOtherVehicleAllDataForm">
                    <p class="text-center">Si vous cliquez ici, toutes les données appartenant à cette engin seront effacées de manière irréversible.</p>
                    <div class="row mb-3">
                        <div class="col-sm-12 text-end">
                            <button type="submit" class="btn btn-danger px-4">Supprimer complètement</button>
                        </div>
                    </div>
                </EditForm>
                <br />
                <EditForm class="" Model="@managerVehicleViewModel.OtherVehicle" OnValidSubmit="SubmitDeleteOtherVehicle" FormName="DeleteOtherVehicleForm">
                    <p class="text-center">Si vous cliquez ici, seul l'engin aura l'attribution supprimée, mais ses données relatives au client et à la facture seront conservées.</p>
                    <div class="row">
                        <div class="col-sm-12 text-end">
                            <button type="submit" class="btn btn-danger px-4">Supprimer</button>
                        </div>
                    </div>
                </EditForm>
            </div><!--end modal-body-->
        </div><!--end modal-content-->
    </div><!--end modal-dialog-->
</div><!--end modal-->


<div class="@modalManager.GetModal("OpenModalDataOCR")?.ModalClass" id="OpenModalDataOCR" tabindex="-1" role="dialog" aria-labelledby="OpenModalDataOCR" style="@modalManager.GetModal("OpenModalDataOCR")?.ModalDisplay; background-color: rgba(0,0,0,0.5);" aria-hidden="@modalManager.GetModal("OpenModalDataOCR")?.AriaHidden">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0" id="OpenModalDataOCR">Donnée récupérée de la lecture OCR.</h6>
                <button type="button" class="btn-close" @onclick="@(() => CloseModalOCR("OpenModalDataOCR"))"></button>
            </div><!--end modal-header-->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label" for="dataOCR">Données</label>
                            <textarea class="form-control" rows="25" id="dataOCR">@managerVehicleViewModel.DataOCR</textarea>
                        </div>
                    </div>
                </div>
            </div><!--end modal-body-->
        </div><!--end modal-content-->
    </div><!--end modal-dialog-->
</div><!--end modal-->

@if (modalManager.IsBackdropVisible)
{
    <div class="modal-backdrop fade show"></div>
}