@page "/profile/{UserId}"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
@inject ILogger<Profile> Logger
@inject UserConnectionService UserConnection
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory

<div class="row justify-content-center">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 align-self-center mb-3 mb-lg-0">
                        <div class="d-flex align-items-center flex-row flex-wrap">
                            <div class="position-relative me-3">
                                @if(User.Picture != string.Empty || User.Picture != ""){
                                    <img src="@User.Picture" alt="photo" height="120" class="rounded-circle">
                                }else{
                                    <img src="assets/images/users/id-card.png" alt="photo" height="120" class="rounded-circle">
                                }
                                <div class="position-relative">
                                    <InputFile id="fileInput" accept="image/png, image/jpeg" style="display: none;" OnChange="OnFileSelected" />
                                    <a href="#" class="thumb-md justify-content-center d-flex align-items-center bg-primary text-white rounded-circle position-absolute end-0 bottom-0 border border-3 border-card-bg" onclick="document.getElementById('fileInput').click(); return false;">
                                        <i class="fas fa-camera"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="">
                                <h5 class="fw-semibold fs-22 mb-1">@User.Lname @User.Fname</h5>
                                <p class="mb-0 text-muted fw-medium">@User.Team, FR</p>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 ms-auto align-self-center">
                        <div class="d-flex justify-content-center">
                            <div class="border-dashed rounded border-theme-color p-2 me-2 flex-grow-1 flex-basis-0">
                                <h5 class="fw-semibold fs-22 mb-1">@CountInvoices</h5>
                                <p class="text-muted mb-0 fw-medium">Factures sortie</p>
                            </div>
                            <div class="border-dashed rounded border-theme-color p-2 me-2 flex-grow-1 flex-basis-0">
                                <h5 class="fw-semibold fs-22 mb-1">@CountQuotes</h5>
                                <p class="text-muted mb-0 fw-medium">Devis créé</p>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
</div><!--end row-->

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Information</h4>
                    </div><!--end col-->
                </div>  <!--end row-->
            </div><!--end card-header-->
            <div class="card-body pt-0">
                <p class="text-muted fw-medium mb-3">Vous êtes actuellement sur votre profil. N'oubliez pas de mettre à jour vos informations pour refléter vos dernières activités et préférences.</p>
                <EditForm class="" Model="@User" OnValidSubmit="UserInformationSubmit">
                    <ul class="list-unstyled mb-0">
                        <li class=""><i class="las fa-id-badge me-2 text-secondary fs-22 align-middle"></i> <b> Nom </b> : <InputText class="form-control" id="Lname" @bind-Value="User.Lname" required /></li>
                        <li class="mt-2"><i class="las fa-id-badge me-2 text-secondary fs-22 align-middle"></i> <b> Prénom </b> : <InputText class="form-control" id="Fname" @bind-Value="User.Fname" required /></li>
                        <li class="mt-2"><i class="las fa-envelope me-2 text-secondary fs-22 align-middle"></i> <b> Email </b> : <InputText class="form-control" id="Email" @bind-Value="User.Email" required /></li>
                        <li class="mt-2"><i class="las fa-paperclip me-2 text-secondary fs-22 align-middle"></i> <b> Login </b> : <InputText class="form-control" id="Login" @bind-Value="User.Login" readonly /></li>
                        <li class="mt-2"><i class="las fa-layer-group me-2 text-secondary fs-22 align-middle"></i> <b> Team </b> : <InputText class="form-control" id="Team" @bind-Value="User.Team" readonly /></li>
                    </ul>
                    <div class="row justify-content-center mt-4">
                        <div class="col-auto text-end">
                            <button type="submit" class="btn btn-primary">Sauvegarder</button>
                        </div><!--end col-->
                    </div>
                </EditForm>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
    <div class="col-md-8">
        <ul class="nav nav-tabs mb-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link fw-medium active" data-bs-toggle="tab" href="#settings" role="tab" aria-selected="false">Paramètres</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane p-3 active" id="settings" role="tabpanel">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Changer votre mot de passe</h4>
                    </div><!--end card-header-->
                    <div class="card-body pt-0">
                        <EditForm EditContext="@editContext" OnValidSubmit="UpdatePasswordSubmit">
                            <div class="form-group mb-3 row">
                                <label class="col-xl-3 col-lg-3 text-end mb-lg-0 align-self-center form-label">Nouveau mot de passe</label>
                                <div class="col-lg-9 col-xl-8">
                                    <input class="form-control" type="password" id="passwordA" placeholder="New Password" @bind="@PasswordA" />
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <label class="col-xl-3 col-lg-3 text-end mb-lg-0 align-self-center form-label">Confirmation mot de passe</label>
                                <div class="col-lg-9 col-xl-8">
                                    <input class="form-control" type="password" id="passwordB" placeholder="Re-Password" @bind="@PasswordB" />
                                </div>
                            </div>
                        </EditForm>
                        <div class="form-group row">
                            <div class="col-lg-9 col-xl-8 offset-lg-3">
                                <button type="submit" class="btn btn-warning">Valider le changement</button>
                            </div>
                        </div>
                    </div><!--end card-body-->
                </div><!--end card-->
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Autre paramétre</h4>
                    </div><!--end card-header-->
                    <div class="card-body pt-0">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Email_Notifications" checked>
                            <label class="form-check-label" for="Email_Notifications">
                                Notifications emails
                            </label>
                        </div>
                    </div><!--end card-body-->
                </div><!--end card-->
            </div>
        </div>
    </div> <!--end col-->
</div><!--end row-->